[2015-01-02 19:32] alphaleonis opened #1 "FileSystemWatcher not included in project"
The System.IO.FileSystemWatcher class has not been replicated in this project which it should be.
If you want completeness, DriveInfo is not there either, but I don't see that as a problem.
Thanks!

[2015-01-02 19:32] alphaleonis commented on #1
Copied from CodePlex.
Comments:

So I guess we are talking about the following function

http://msdn.microsoft.com/en-us/library/windows/desktop/aa364417(v=vs.85).aspx

FindFirstChangeNotification and subsequent calls to FindNextChangeNotification.

"Obtaining Directory Change Notifications"

http://msdn.microsoft.com/en-us/library/aa365261.aspx

[2015-01-02 19:33] alphaleonis opened #2 "Unit tests for methods: File.OpenRead(), File.OpenText() and File.Replace() are missing."

[2015-01-02 19:33] alphaleonis opened #3 "Add support for OpenEncryptedFileRaw and related functions."
Encryption/decryption happens automatically with most of the regular api calls if the right cert is installed.

However there are situations when if the drive was taken out of the computer for forensic analysis, you would need to access the encrypted files.

In that situation there is usually a delegated decryption user's certificate is stated in the encrypted files metadata, usually it is a activ

[2015-01-02 19:34] alphaleonis commented on #3
Copied from CodePlex. Comments:

lambchops wrote Feb 14, 2013 at 3:27 AM
Downloaded src to have a look at implementing these functions.... but a little lost as it appears that in the releases folder, there is 1.0 and not 1.5. Looking at the changes log it seems that you are up to 1.6? Functions like File.OpenBackupRead do not seem to be there.
Please advise :) thnx

Yomodo wrote Feb 14, 2013 at 10

[2015-01-02 20:23] alphaleonis opened #4 "Documentation needs a major review"
There are a ton of warnings about unresolved links, and in many cases the Remarks-section is nested _inside_ the `<summary>` tags which creates bad output. Review this and try to fix these issues.

[2015-01-02 21:41] alphaleonis commented on #4
Why the label changes? I was just about to start with this one but see you changed it from bug to discussion... and then to nothing... Can I assume this was inadvertently, or did you have some objections to this? ;)

[2015-01-02 21:44] Yomodo commented on #4
Yes my bad, inadvertently.

[2015-01-04 11:05] #4 closed

[2015-01-04 21:16] alphaleonis opened #9 "The changelog differs between new repo on GitHub and old on CodePlex"
There are some items that were not merged over correctly. Fix this.

[2015-01-05 07:23] #9 closed

[2015-01-05 07:24] alphaleonis opened #11 "Incorrect formatting in CHANGELOG.md"
A merge seems to have removed the proper markdown formatting.

[2015-01-05 07:25] #11 closed

[2015-01-05 07:32] alphaleonis opened #13 "Change type of new isFullPath parameter to an enumeration."
A new parameter has been introduced on various methods; `isFullPath`. This is currently of type `bool?` which makes its use unclear without reading the documentation (i.e. what does `null` mean?).
I suggest we change this parameter to an enumeration so that its meaning is clear instead.
For example:
[code]
or something similar.

[2015-01-05 10:48] alphaleonis opened #14 "Split File.cs and Directory.cs into multiple files."
The File and Directory classes are huge by now and littered with regions. Split these classes into multiple files so that they become more manageable and with less regions.

[2015-01-05 18:04] alphaleonis opened #16 "Add support for NuGet."
Version 1.6 will be released on NuGet.

[2015-01-06 08:58] alphaleonis opened #18 "Rename Copy1 and Move1 methods to Copy/Move since they have the same functionality basically."

[2015-01-06 19:49] alphaleonis opened #19 "Split Path.cs into multiple files."

[2015-01-06 19:50] alphaleonis opened #20 "Split NativeMethods.cs into multiple files."

[2015-01-06 19:55] alphaleonis opened #21 "Add copyright notice to all source-files that is missing it."
Do this just before release for simplicity.

[2015-01-07 01:35] #14 closed

[2015-01-07 01:36] #13 closed

[2015-01-07 10:09] alphaleonis opened #22 "Unit-tests that cannot run due to environmental problems are currently marked as failed rather than Inconclusive"
If a test cannot run due to environmental problems, such as the computer not being part of a domain, that test should be marked inconclusive. Today these tests fail.

They should instead contain something like the following in the beginning of the test method:
[code]

[2015-01-07 12:07] #19 closed

[2015-01-07 12:21] Yomodo commented on #18
Done: File.CopyMove.cs

[2015-01-07 12:24] alphaleonis opened #23 "Rename ADS methods to include "Alternate Data Stream""
These methods were added for 1.6, but have somewhat confusing names, might be confused with adding a .NET Stream.
These methods exist in `AlternateDataStreamInfo`, `DirectoryInfo`, `FileInfo`, `Directory` and `File`.

Suggested renames for methods:
* `AddStream` => `AddAlternateDataStream`
* `RemoveStream` => `RemoveAlternateDataStream`
* `EnumerateStreams` => `EnumerateAlternateDataStreams`
* `Ge

[2015-01-07 12:27] alphaleonis opened #24 "Rename Directory.DeleteEmpty to Directory.DeleteEmptySubdirectories"
This makes it more clear what the method does. Is abit ambiguous now.

[2015-01-07 12:48] alphaleonis opened #25 "Rename and update documentation for Add/RemoveDirectorySeparator methods."
AddDirectorySeparator should be renamed to AddTrailingDirectorySeparator to clarify its purpose. Its documentation should be updated to reflect that this is what it is doing. Also documentation needs to be updated to reflect what the difference between this method and GetSuffixedDirectoryName is.

RemoveDirectorySeparator should consequently be renamed to RemoveTrailingDirectorySeparator. Same upd

[2015-01-07 14:56] #20 closed

[2015-01-07 14:58] alphaleonis opened #26 "Split DirectoryInfo.cs into multiple files."

[2015-01-07 14:59] alphaleonis opened #27 "Splite FileInfo.cs into multiple files."

[2015-01-07 17:24] alphaleonis opened #28 "Methods for adding alternate data streams should return a stream."
Currently they accept only a string-array, which is unnecessarily restrictive. A better option would be to have the "AddStream" method return a Stream, and let the user write the data as he/she pleases. It is a "stream" after all.

[2015-01-08 00:31] #18 closed

[2015-01-08 10:13] Stephanvs commented on #16
Awesome :thumbsup:

[2015-01-08 11:13] Yomodo commented on #25
I did not merge and had already deleted the branch.

START AGAIN.

[2015-01-08 11:30] #25 closed

[2015-01-08 12:09] #24 closed

[2015-01-08 13:55] #23 closed

[2015-01-08 14:08] Yomodo opened #33 "Add support for Windows Portable Device (WPD) to AlphaFS"
Windows Portable Device (WPD) seems a worthy addition to AlphaFS.

[2015-01-08 15:21] Yomodo commented on #28
Great!

[2015-01-08 16:17] #22 closed

[2015-01-08 17:59] #27 closed

[2015-01-08 22:28] #26 closed

[2015-01-08 23:04] Yomodo opened #37 "Add missing headers to Directory class files."

[2015-01-08 23:27] Yomodo commented on #37
Also regrouped some DirectoryInfo methods/files.

[2015-01-08 23:27] #37 closed

[2015-01-09 10:22] Yomodo opened #39 "Add missing headers to Path class files."

[2015-01-09 10:34] alphaleonis commented on #39
If this is about the copyright comments, see #21. I'll fix that before release.

[2015-01-09 17:31] Yomodo opened #44 "Add overload methods with PathFormat to Directory.Delete"

[2015-01-09 17:34] #44 closed

[2015-01-09 17:56] Yomodo opened #46 "Rename enum member from PathFormat.Relative to PathFormat.RelativePath"
For consistency with: PathFormat.FulPath and PathFormat.LongFullPath

[2015-01-09 18:02] #46 closed

[2015-01-09 19:21] Yomodo opened #48 "Small Improvements"
-Update remarks for Directory.GetCurrentDirectory/SetCurrentDirectory()/GetFullPath() methods;
-Improved upon Path- and Directory class unit tests;

[2015-01-09 19:22] Yomodo opened #49 "Move parameter asLongPath to GetFullPathOptions enum."
-Added AsLongPath member to GetFullPathOptions enum;
-Removed all overloaded methods with asLongPath parameter;

[2015-01-09 19:24] Yomodo opened #50 "Path.GetLongPath() does not prefix on "C:""
Path.GetLongPath("C:") returns C:  instead of  \\?\C:

[2015-01-10 10:22] #48 closed

[2015-01-10 11:11] Yomodo opened #52 "Update Path class unit tests"

[2015-01-10 11:12] #52 closed

[2015-01-10 11:20] Yomodo opened #54 "Fix (possibly) failing unit test: Volume.IsSameVolume()"
-Removed Yomodo test code from unit tests;
-Small code tweaks to Volume/VolumeInfo;

[2015-01-10 14:00] #54 closed

[2015-01-10 14:02] Yomodo commented on #50
I guess it should?

[2015-01-10 15:37] #49 closed

[2015-01-10 16:48] alphaleonis opened #57 "Revisit changes made to ThrowError."
A new parameter "isIoException" has been introduced. This does not seem correct. The error code should determine whether or not this is an IoException. For example, if this is "true" when a FileNotFound error occurs, a bare IOException seems to be thrown instead of the more specific FileNotFoundException.

[2015-01-10 17:33] Yomodo commented on #57
Signature:
ThrowException(uint errorCode, string readPath, bool isIoException = false)

By default it is not an IOException.
Currently IOException is explicitly triggered by the calling methods.

[2015-01-10 18:50] alphaleonis commented on #57
But why?

[2015-01-10 19:28] alphaleonis opened #58 "Missing return value documentation in DirectoryInfo.MoveTo overload."
BuildAssembler : warning : ShowMissingComponent: [M:Alphaleonis.Win32.Filesystem.DirectoryInfo.MoveTo(System.String,Alphaleonis.Win32.Filesystem.PathFormat)] Missing <returns> documentation [D:\Coding\Projects\GitHub\AlphaFS\Bin\Documentation\Working\BuildReferenceTopics.proj]

[2015-01-10 19:38] alphaleonis commented on #28
Fixed in #59... well, sort of.

[2015-01-10 19:38] #28 closed

[2015-01-10 19:50] alphaleonis opened #60 "Remove all use of "Problematic" methods such as DangerousAddRef and DangerousGetHandle()"
These methods should never be needed. We should use SafeHandles instead.

[2015-01-10 21:41] Yomodo commented on #57
By default, .NET throwns an IOException instead of the "true" exception.
Search the code for this comment: ": IOException: " to see some methods.

[2015-01-10 21:46] Yomodo commented on #60
As handle, SafeGlobalMemoryBufferHandle() is used.

DangerousGetHandle() is implemented because of Code Analysis Warning: "CA2001: Avoid calling problematic methods"

[2015-01-10 21:54] alphaleonis commented on #60
The code analysis warning is *because* we are calling DangerousGetHandle(). There should not be a situation where this is needed.

[2015-01-10 21:54] alphaleonis commented on #57
Can you give me an example of this?

[2015-01-10 21:57] Yomodo commented on #28
:( The with the previous implementation, streams could also be added/removed to directories, are rare feature found on the net.

This is a nifty feature because for example you can now also get the real size used by dat folder, because of alternate data streams.

FindFirstStreamW does not work on directories, that why I didn't use that.

[2015-01-10 22:04] Yomodo commented on #57
http://msdn.microsoft.com/en-us/library/system.io.file.move%28v=vs.110%29.aspx

File.Move(): IOException	The destination file already exists. -or- sourceFileName was not found.

We should follow this behavior, correct or incorrect: it is how .NET does it it.
I don't think we want people re-writing their exception handling?
AlphaFS at least follows the same .NET method signatures and results, this

[2015-01-10 22:12] alphaleonis commented on #28
Uhm, in my tests these work fine on directories as well. Also adding streams to directories works fine still.

For example:

[code]

If you want the other stream information, eg. non-data streams you can get those by using `BackupFileStream`. So no functionality has in that sense been removed.

[2015-01-10 22:16] Yomodo opened #61 "TreatWarningsAsErrors = false for Net451 Debug|AnyCPU configuration"
Should be true, as like the other Debug configurations.

[2015-01-10 22:17] #61 closed

[2015-01-10 22:18] alphaleonis commented on #57
According to that documentation link you provided, a number of exceptions can be thrown. For example `DirectoryNotFoundException`, `UnauthorizedException` and more. No one needs to rewrite their exception handling (unless they handle it incorrectly in the first place). We throw exceptions that derive from `IOException`, so if they catch `IOException` they will still catch the error, and the error

[2015-01-10 22:27] Yomodo commented on #57
I agree that in some cases the exception do not really match up to ones expectation.
However, correct or incorrect, in the case of IOException is is already being done in four+ versions now.
So, one could say it is typically .NET behavior we all learn to know or expect. At least that's how I see it.

Since we mimic large parts of .NET in method signatures and method return results,
why not excepti

[2015-01-10 22:28] alphaleonis commented on #57
We add additional functionality everywhere, why not also to exceptions?  In what scenario would your code break if I throw an exception derived from IOException as opposed to an actual IOException?

And also, these exceptions existed in AlphaFS 1.5, which means that removing them breaks code for users already using AlphaFS that have come to rely on this functionality.

[2015-01-10 22:37] Yomodo commented on #57
At first I used .NET then switched to AlphaFS 1.5 and eventually adjusted all my code to handle the specific AlphaFS exceptions.

Some time later "stuff" was not working right and could only
clearly pinpoint it if I change my exception handling back to the .NET.  So that was one scenario
where I had to switch between the differences in exceptions.

Perhaps I did not handle it right from the start,

[2015-01-10 22:45] alphaleonis commented on #57
Well, if you can give me a concrete code example of a situation where throwing a more derived exception would cause a problem, I'd be happy to see it. Only think I can think of is if you explicitly do something like:
[code]

[2015-01-10 22:49] Yomodo commented on #58
Hm.. I really can't see in the source what is wrong? :|

[2015-01-10 22:54] alphaleonis commented on #58
Line 263, in DirectoryInfo.CopyToMoveTo.cs, there is no `<returns>` documentation tag.

[2015-01-10 22:59] Yomodo commented on #57
Hehe nooo that would we so wrong.
Yeah I use this for the unit test but not in production code.

To kind of illustrate my above point:

.NET
Because of MSDN I know I can do this, because exceptions are documented:

[code]

With AlphaFS implementations, we probably also would have to document
which exception to, possibly, expect.
So when I was debugging, I remember I had to switch between .NET and

[2015-01-10 23:03] #58 closed

[2015-01-10 23:05] Yomodo commented on #57
Also, switching back from AlphaFS to .NET, for whatever reason, WILL force you to adjust your code when using AlphaFS exceptions, if I'm correct.

[2015-01-10 23:07] alphaleonis commented on #57
If you do what you have above in your first example, you will never catch the `DirectoryNotFoundException` because it derives from `IOException`. So in both cases, a `catch (IOException)` will catch any of the above mentioned exceptions.

[2015-01-10 23:08] alphaleonis commented on #57
If you anticipate to switch back from AlphaFS to .NET you need to stay away from any code that is AlphaFS specific, which excludes quite a bit. But you can simply catch only those exceptions derived from .NET then, because all of our exceptions that are IO-related derive from IOException.

[2015-01-10 23:08] Yomodo commented on #57
True, not my best example.

[2015-01-10 23:12] Yomodo commented on #57
One can still use only the AlphaFS implementations of the .NET methods, since full path support is now built in. And the latter is why people would need AlphaFS in the first place. Well, in most cases.

That's the beauty right, just changing the namespace from System.IO to Alphaleonis.Win32...
should work. as it is now.

[2015-01-10 23:20] alphaleonis commented on #57
And you can still use the .NET exceptions only. As I said, you don't *need* to explicitly catch the `AlreadyExistsException`, you could just catch an `IOException` instead, and things will work the same.

[2015-01-11 10:08] #57 closed

[2015-01-11 11:05] alphaleonis commented on #50
Sounds like it should, yes. Not that it really would affect much of anything I guess, since a drive rarely has a name longer than 260 characters, but still. ;)

[2015-01-11 11:20] alphaleonis opened #65 "Release version 1.6"
* Review and update changelog before releasing.

[2015-01-11 12:02] Yomodo opened #67 "GetRegularPathInternal(): replace parameter booleans with GetFullPathOptions enum."

[2015-01-11 12:11] Yomodo opened #68 "Integrate TemporaryDirectory"
I really like the disposable TemporaryDirectory class (from the unit tests).

Perhaps we should add this in code as a feature?

[2015-01-11 12:17] alphaleonis commented on #68
Well, it's not a bad idea. Although it would probably need some rewriting to make it more generally useful. I'm also considering a similar TemporaryFileStream or TemporaryFile which I'm using in another project actually, which may be a good fit as well.  We should think about what we'd want out of these classes for vNext.

[2015-01-11 21:22] #67 closed

[2015-01-11 22:29] Yomodo opened #71 "Tweak usage of DirectoryEnumerationOptions"

[2015-01-11 23:21] Yomodo opened #72 "Unit test File.Move fails()"
Due to recent Exception changes, the unit test need to be adjusted.

[2015-01-11 23:24] #72 closed

[2015-01-12 10:06] #71 closed

[2015-01-12 10:16] Yomodo opened #75 "Removed unused using directives from code"
Cleanup, because of the splitting of some classes, many files now contain
using statements that are not needed for that particular file/methods.

Also removed redundant qualifiers and added license where it was missing.

[2015-01-12 11:02] #75 closed

[2015-01-12 11:30] Yomodo opened #77 "Remove incorrect (leftover) comment: // Throws IOException."

[2015-01-12 11:42] #77 closed

[2015-01-12 14:12] alphaleonis commented on #68
This issue was moved to alphaleonis/AlphaFS.Temp#1

[2015-01-13 08:02] Yomodo opened #81 "Change parameter GetShareInfoInternal() from int to enum."
Current implementation:

/// <param name="structureLevel">Possible structure levels: 503, 2, 1 and 1005.</param>
GetShareInfoInternal(int structureLevel, string host, string share, bool continueOnException)

Change structure Level from int to enum.

[2015-01-13 10:02] #81 closed

[2015-01-13 10:05] Yomodo opened #82 "Split Host class."

[2015-01-13 10:42] Yomodo commented on #68
Similar in Host class:
[code]

[2015-01-13 12:33] #82 closed

[2015-01-13 13:01] Yomodo opened #83 "Split Network NativeMethods.cs in multiple files."
- Added PlatformNotSupportedException for DFS methods.

[2015-01-13 13:17] Yomodo opened #84 "Add [SerializableAttribute] to class DfsInfo()"

[2015-01-13 14:41] #83 closed

[2015-01-13 14:56] #84 closed

[2015-01-13 15:26] Yomodo opened #85 "Add ToString method to FileSystemEntryInfo class."
Currently it outputs the FileSystemEntryInfo instance type.

The ReparsePointTag information will be returned.

[2015-01-13 15:45] Yomodo commented on #85
@alphaleonis "The ReparsePointTag information will be returned.",  what do you think?

[2015-01-13 18:39] alphaleonis commented on #85
Sounds good, but why reopened?

[2015-01-13 18:51] #85 closed

[2015-01-13 18:57] alphaleonis commented on #85
Ah, I see. ;)

[2015-01-13 18:58] Yomodo commented on #85
I only wanted to close it after you saw it.

[2015-01-13 22:27] Yomodo opened #86 "Add DirectoryReadOnlyException()"
Inherits from System.IO.IOException.

[2015-01-14 01:03] hnorihiro commented on #41
Yes, it is NTFS(USB Drive).
Drive When it is empty after formatting, occurs error.
Drive When $RECYCLE.BIN exist,does not occurs.

[2015-01-14 10:40] alphaleonis commented on #86
Can a directory even be Read-only on an NTFS system?

[2015-01-14 12:25] alphaleonis opened #87 "Truncate old history from repository."
A bucnh of stuff was transferred over from the CodePlex repository that made this one unnecessarily large. Truncate the old history from the repo and rewrite it.

[2015-01-14 14:31] Yomodo commented on #86
Yup.

[2015-01-14 14:34] alphaleonis commented on #86
[According to MSDN](http://msdn.microsoft.com/en-us/library/windows/desktop/aa365535%28v=vs.85%29.aspx):

`FILE_ATTRIBUTE_READONLY`
A file that is read-only. Applications can read the file, but cannot write to it or delete it. This attribute is not honored on directories. For more information, see "You cannot view or change the Read-only or the System attributes of folders in Windows Server 2003,

[2015-01-14 15:27] Yomodo commented on #86
And yet, this works:

[code]

[2015-01-14 15:44] Yomodo commented on #86
I guess MSDN docs are incorrect.
Browsing .NET source reveals Win32Native.SetFileAttributes, used for directories.

[2015-01-14 16:02] alphaleonis commented on #86
Okay, cool... Maybe it was just in earlier versions of windows then or something. I think you can't set it from Windows Explorer anyway, but then again, Windows Explorer doesn't support long paths either so I guess that's not a very good source for information ;)

[2015-01-14 16:04] alphaleonis commented on #86
@Yomodo  but doesn't the new exception have the wrong error code? (DIR_NOT_EMPTY)?

[2015-01-14 16:07] Yomodo commented on #86
@alphaleonis Right! That was a copy paste. grrrr

[2015-01-14 16:10] #86 closed

[2015-01-14 16:15] Yomodo opened #88 "Add FileReadOnlyException()."
Inherits from System.UnauthorizedAccessException.

[2015-01-14 23:24] Yomodo commented on #41
Does it still throw the exception if you execute: ```info.Refresh();``` first?

[2015-01-15 01:49] hnorihiro commented on #41
OS Windows7
.NET 3.5

[code]
it still throw the exception .

[2015-01-15 09:03] #88 closed

[2015-01-15 10:14] Yomodo commented on #41
Confirmed.

It seems related to the volume label.
The exception can be avoided with: ```/v:myLabel```
But I still see the Exception thrown, and sometimes not.

[code]

However, System.IO indeed does not throw an Exception.

[2015-01-15 11:17] Yomodo opened #89 "Remove property DfsInfo.Transacted"
Having this property for DFS does not make any sense.

[2015-01-15 11:22] Yomodo opened #90 "Change DfsInfo.DirectoryInfo constructor parameter to PathFormat.FullPath"
Currently:
```_directoryInfo = new DirectoryInfo(, , PathFormat.RelativePath);```

Change to:
```_directoryInfo = new DirectoryInfo(, , PathFormat.FullPath);```

[2015-01-15 11:31] #89 closed

[2015-01-15 11:31] #90 closed

[2015-01-15 12:35] Yomodo opened #91 "Add missing overload methods to File.WriteAllLines()"
Add overloaded methods for File.WriteAllLines() with PathFormat
to accomodate AlternateDataStreams.

[2015-01-15 12:50] alphaleonis commented on #91
:+1:

[2015-01-15 13:14] #91 closed

[2015-01-15 17:59] alphaleonis opened #40 "[CLOSED] Fixes #39"
_Issue by **[Yomodo](https://github.com/Yomodo)** from Friday Jan 09, 2015 at 11:07 GMT_
_Originally opened as https://github.com/alphaleonis/AlphaFS/pull/40_

---

---

_**[Yomodo](https://github.com/Yomodo)** included the following code: https://github.com/alphaleonis/AlphaFS/pull/40/commits_

[2015-01-15 17:59] alphaleonis opened #41 "After formatting , DirectoryInfo.GetFileSystemInfos throw DirectoryNotFoundException"
_Issue by **[hnorihiro](https://github.com/hnorihiro)** from Friday Jan 09, 2015 at 11:16 GMT_
_Originally opened as https://github.com/alphaleonis/AlphaFS/issues/41_

---

1.I **format** the G drive

2.
AlphaFS(2015/1/8)

[code]

.NET

[code]

Can you help me?

[2015-01-15 18:00] alphaleonis commented on #41
_Comment by **[Yomodo](https://github.com/Yomodo)** from Thursday Jan 15, 2015 at 10:14 GMT_

---

Confirmed on Windows 8.1 X64

It seems related to the volume label.
The exception can be avoided with: `/v:myLabel`
But even then I still see the Exception thrown, sometimes.

[code]

However, System.IO indeed does not throw an Exception.

[2015-01-15 18:07] #40 closed, assigned to nobody

[2015-01-15 19:22] alphaleonis commented on #87
This has been fixed and the repository has been re-created.

[2015-01-15 23:28] Yomodo opened #92 "Remove property DiskSpaceInfo.UsePercentSuffix"
Currently:

[code]

Not relevant anymore.

[2015-01-15 23:35] #92 closed, assigned to Yomodo

[2015-01-15 23:53] Yomodo opened #93 "Add method ToString() to class DfsStorageInfo()"

[2015-01-16 00:39] Yomodo opened #94 "Rename class DfsStorage to DfsStorageInfo"

[2015-01-16 00:59] #93 closed, assigned to Yomodo

[2015-01-16 00:59] #94 closed, assigned to Yomodo

[2015-01-16 01:06] Yomodo opened #95 "Rename property DfsInfo.NumberOfStorages to StorageInfoCollection"

[2015-01-16 01:16] #95 closed, assigned to Yomodo

[2015-01-16 10:27] Yomodo opened #96 "Change GetChangeTimeInternal GetFullPathOptions"
File.GetChangeTimeInternal() currently uses:
`GetFullPathOptions.RemoveTrailingDirectorySeparator | GetFullPathOptions.FullCheck`

For consistency with the other File.GetXxxTime() methods, `FullCheck` should be
changed to: `CheckInvalidPathChars`

[2015-01-16 10:44] #96 closed, assigned to Yomodo

[2015-01-16 18:59] alphaleonis commented on #65
Version 2.0 released. :smiley:

[2015-01-16 19:00] alphaleonis commented on #16
Support for NuGet added in version 2.0 which is now released. :birthday:

[2015-01-17 19:57] alphaleonis opened #101 "Add build targetting .NET 4.5.2"

[2015-01-17 22:41] alphaleonis commented on #60
Have you considered not writing "Fixes" in the commit message if you don't want the issue to be closed? :wink:  (You can still refer to it by writing the id)

[2015-01-19 19:53] catester opened #102 "Allow configuration to exclude Path information from Exceptions"
Hi,
Thanks for v2.0, I will start to use AlphaFS soon, it looks excellent.
I wonder if you include full path info in any exception thrown by AlphaFS like System.IO?
I ask this as when in a web environment like ASP.NET, it's not wise to show physical path to users for security purposes. In System.IO, you can not avoid this so for now i need to catch exceptions and sanitize their message before thro

[2015-01-19 20:01] catester opened #103 "Using System.IO classes interchangeably at runtime"
I know classes like System.IO.FileInfo are sealed and there are no interfaces so not sure if this may be possible. I consider using AlphaFS classes (which requires full trust) and fallback to System.IO counterparts only when it's a partial trust environment. Do you think it may be possible in any way without duplicating code and using lots of branching?

[2015-01-19 20:59] alphaleonis commented on #102
Path information is included in exceptions in AlphaFS, just like in System.IO. So you would need to sanitize these as well I'm afraid. No configuration option is available for this at the moment I'm afraid.

[2015-01-19 21:03] alphaleonis commented on #103
I'm not sure I quite understand what you're asking here? I don't think there's a way to dynamically select which implementation to use in the way you describe I'd I understand you correctly though. You would probably have to create some facade through which you invoke file system related operations that selected the correct implementation depending on the environment.

[2015-01-19 21:08] #103 closed, assigned to nobody

[2015-01-20 10:50] Yomodo commented on #102
Although not frequently, I also have to deal with this.
I like this idea though.

[2015-01-21 13:29] Lupinho opened #104 "VolumeInfo.Refresh() fails with System.IO.IOException: (234)"
If I call this method on some systems, I get this error message (more data available).
Regarding this error I found this german post:
https://www.overclockers.at/include_coding_stuff/win32api_experten-frage_122340?postid=1597458
The quintessence seems to be, that the buffer lengths given were not sufficient. In AlphaFS pre 1.5 there was a capacity of "NativeMethods.MAX_PATH + 1" now it is "NativeM

[2015-01-21 14:05] Yomodo commented on #104
Confirmed.

[2015-01-21 15:53] Lupinho opened #105 "Request for new Methods"
To use AlphaFS I would need the following methods and properties:
To easy access the underlying UTC dates rather than conversion to local time:

[code]

To open and create files with extended file attributes (e.g. Overlapped API) and buffer size:
`File.Create(string path, int bufferSize, FileMode mode, FileAccess access, FileShare share, ExtendedFileAttributes options, PathFormat pathFormat)`

`Fi

[2015-01-21 17:06] Yomodo opened #107 "Host.EnumerateDrives() returns mangled output."

[2015-01-21 17:12] Yomodo commented on #107
Fixed with commit 3b93d881415949fa3413668878d9e3721c2b43e3

[2015-01-21 17:12] #107 closed, assigned to Yomodo

[2015-01-21 17:38] Yomodo opened #108 "Volume.Refresh() should throw DeviceNotReadyException"
AlphaFS 1.5 throws a DeviceNotReadyException on error 21.

[2015-01-21 17:59] alphaleonis commented on #60
@Yomodo Howcome this was moved to 2.0.1? Isn't all the changes so far made on the `develop` branch?

[2015-01-21 18:15] Yomodo commented on #108
Fixed with commit: 4da11066c75934d6bd4eaa588aa29ad318ff3cbc

[2015-01-21 18:15] Yomodo commented on #104
Fixed with commit: 4da11066c75934d6bd4eaa588aa29ad318ff3cbc

[2015-01-22 10:21] Yomodo commented on #102
Perhaps we can add a member: `SanitizeExceptionPath` to enum `PathFormat` as to prevent any additional overloaded methods.

[2015-01-22 14:03] Yomodo opened #109 "Add overloaded methods for Host.EnumerateShares()"
`Host.EnumerateShares()` should have a couple of overloaded methods that allow
to specify  one or more `ShareType`s.

[2015-01-22 14:35] Yomodo opened #110 "Directory.GetDirectoryRoot() should throw System.ArgumentException."
As per .NET specs: `System.IO.Directory.GetDirectoryRoot(@"\\\\.txt")`
throws: _System.ArgumentException: The UNC path should be of the form \server\share._

AlphaFS returns: _`\\\.txt`_ instead of throwing an Exception.

[2015-01-22 17:49] Yomodo commented on #102
@catester Could you show me an example output, expectations?

[2015-01-22 18:00] alphaleonis commented on #102
@Yomodo Either that, or we could allow configuration through app.config or via a static member in some configuration class. I'm leaning towards the app.config approach, but I might be wrong there... But it seems kind of similar to the `includeExceptionDetailsInFaults` that is available for WCF configuration (and probably something similar is available for web applications as well).

After all, far

[2015-01-22 18:51] alphaleonis opened #111 "Add overloads of File.Open that allows specifying buffer size."
Don't know why we missed these, but they should be added.

See #105

[2015-01-22 18:55] alphaleonis opened #112 "Add CreationTimeUtc, LastAccessTimeUtc and LastWriteTimeUtc to "Info" classes."
These should be added to the following classes:
- `FileSystemEntryInfo`
- `ByHandleFileInfo`
- `FileIdBothDirectoryInfo`

This because it is likely much more performant than first converting to local time (as these properties do now) and then manually converting back to UTC.

It is also more in line with the FileInfo/DirectoryInfo classes.

See #105

[2015-01-22 18:57] alphaleonis opened #113 "Change names of time related properties on FileSystemEntryInfo to conform with FileInfo/DirectoryInfo."
Created => CreationTime
LastModified => LastWriteTime
LastAccessed => LastAccessTime

[2015-01-22 19:08] alphaleonis commented on #104
@Yomodo Wasn't this fixed in 2.0.1 (on the master branch)? If so, the changelog should be updated to reflect this. (Also the changelog on the develop branch indicates that it was fixed in 2.1 while it should be 2.0.1.

[2015-01-22 19:08] alphaleonis commented on #108
@Yomodo Wasn't this fixed in 2.0.1 (on the master branch)? If so, the changelog should be updated to reflect this. (Also the changelog on the develop branch indicates that it was fixed in 2.1 while it should be 2.0.1.

[2015-01-22 23:22] Yomodo commented on #112
Should we also do this for classes `ByHandleFileInfo`, `FileIdBothDirectoryInfo` ?

[2015-01-23 08:52] alphaleonis commented on #112
@Yomodo Yup, good call, I've updated the issue.

[2015-01-23 08:53] alphaleonis commented on #105
Added issues #111 and #112 which should address the concerns in this issue.
@Lupinho Thanks for the suggestions.

[2015-01-23 09:01] catester commented on #102
I also think adding additional overloaded methods would be cumbersome so a static configuration class would be better. If you have static config class, you can always have the option to bind it to an app.config file if you wish. Below is my recommendation with sample usage:

[code]

This static AlphaConfig class may be useful when you need to add other additional global options in the future.

[2015-01-23 09:04] alphaleonis commented on #102
@catester I think it will prove difficult to implement relative vs. full path unfortunately. We usually just pass the path as specified to the method in to the exception. So I think the only real option would be whether to include it or not.

[2015-01-23 09:17] catester commented on #102
Yes I know, it can become complicated with RelativePath option so even NoPath option would be good. Then the developer can decide to build his own relative path when he needs to add to the exception.

Also using a static AlphaConfig class may not be thread safe. For example thread1 changes an option, then thread2 changes it again and by the time exception in thread1 occurs, the intended first opti

[2015-01-23 09:29] alphaleonis commented on #102
I see this as an application level setting however, not something that should be changed between method invocations.  So I think that the static configuration (or app.config) is still the way to go. Adding overloads to every method accepting some configuration object just seems strange to me.

[2015-01-23 09:51] catester commented on #102
Ok but also consider ASP.NET applications support, they have web.config and not an app.config like desktop applications. I don't remember now maybe they have a common section though. Also config files are not good for component developers as they usually need to change options at runtime and without depending on an external file.

Regarding overloads, I mean you can group non-standard parameters (

[2015-01-23 10:02] Yomodo opened #114 "GetLogicalDrives() / GetDrives(), Windows 7 64bit / Windows 8 64bit does not show mapped network drives."
(CodePlex, Oct 2, 2012 at 2:56 PM - Added for reference)

After upgrading to Windows 7 64 bit, I noticed that `Volume.GetLogicalDrives()` and `DriveInfo.GetDrives()` did not show any mapped drives anymore.

After digging and searching, I stumbled upon this [Microsoft article](https://technet.microsoft.com/en-us/library/ee844140%28v=ws.10%29.aspx), which solved the issue.

After adding a `DWORD` re

[2015-01-23 10:02] #114 closed, assigned to Yomodo

[2015-01-23 10:46] Yomodo commented on #102
@catester Then actually your current solution is the cleanest. I'm sorry for keeping your hopes up.

There is only one method we use to throw exceptions in where the path is always constructed in the same manner.

[2015-01-23 11:35] Lupinho commented on #105
Can you give me hints to solve the problem with the overlapped I/O?

[2015-01-23 11:52] alphaleonis commented on #105
Haven't tried that, so I don't know what to make of that really.  @Yomodo  do you have any ideas?

[2015-01-23 11:53] alphaleonis commented on #102
App.config and Web.config can be accessed through the same classes, so that wouldn't be a problem. But we'll have it in mind. It is not a high-priority issue as of now though.

[2015-01-23 11:59] Yomodo opened #115 "EnumerateFileIdBothDirectoryInfoInternal‏ does not return all files and folders using safehandle."
Please investigate.

Commit: https://github.com/alphaleonis/AlphaFS/commit/649689844612715c9904b5266d41ddf81504b7c8

[2015-01-23 12:18] Yomodo commented on #105
Unfortunately, no.

But I have this bookmark which I saved to study sometime:
http://www.beefycode.com/post/Using-Overlapped-IO-from-Managed-Code.aspx

[2015-01-23 12:58] alphaleonis opened #116 "Investigate if there is a problem opening files with asynchronous support from read-only volumes."
Created from #105

Investigate whether we can reproduce this and if so, update this to a bug and find a solution to fix it in that case.

Possibly relevant links:
-http://www.getcodesamples.com/src/A1C575BD/3FA4157B
-http://www.beefycode.com/post/Using-Overlapped-IO-from-Managed-Code.aspx

[2015-01-23 12:58] alphaleonis commented on #105
Created #116 to verify and fix the problem with overlapped support and read-only volumes.

[2015-01-23 12:58] #105 closed, assigned to nobody

[2015-01-23 14:46] Yomodo opened #117 "Fix Path.GetFullPath() issues."
The following should just return the `Input Path` for `Path.GetFullPath()`

[code]

`Input Path` should be prefixed with full path (same as System.IO):

[code]

[2015-01-23 17:11] #115 closed, assigned to alphaleonis

[2015-01-23 17:17] alphaleonis commented on #108
@Yomodo Feel free to close this again now that the changelog is updated unless there are other fixes to do on it.

[2015-01-23 17:17] alphaleonis commented on #104
@Yomodo Feel free to close this again now that the changelog is updated unless there are other fixes to do on it.

[2015-01-23 17:20] #108 closed, assigned to Yomodo

[2015-01-23 17:20] #104 closed, assigned to Yomodo

[2015-01-24 03:29] Yomodo opened #119 "Fix Path.IsLocalPath() issues."
These should report `True` since they are definitely not UNC.

`Path.IsLocalPath()`: [False]    Input Path: [.]
`Path.IsLocalPath()`: [False]    Input Path: [.zip]
`Path.IsLocalPath()`: [False]    Input Path: [\]
`Path.IsLocalPath()`: [False]    Input Path: [\\?\Program Files\Microsoft Office]
`Path.IsLocalPath()`: [False]    Input Path: [\\?\C]
...

[2015-01-24 06:37] alphaleonis commented on #117
@Yomodo this does not appear to have been merged to the master branch yet? (Re-opened)

[2015-01-24 11:27] #117 closed, assigned to Yomodo

[2015-01-24 18:35] alphaleonis opened #121 "Update documentation for Directory.EnableEncryption to indicate what the difference between this and Encrypt is."
It is quite unclear what the difference between `Directory.EnableEncryption` and `Directory.Encrypt` actually is. The documentation should be updated to better describe these methods.

[2015-01-24 18:38] alphaleonis opened #122 "It does not seem to be possible to encrypt/decrypt a directory without also encrypting the files within it?"
The `Directory.Encrypt` and `Directory.Decrypt` methods have an option `recursive` to indicate that you want the change to apply to subfolders as well. But it is always recursive in the sense that the files currently in the directory are encrypted (at the top level).

In Windows it is actually quite possible to enable encryption on the directory only, without affecting the files, shouldn't this be

[2015-01-24 20:56] #101 closed, assigned to alphaleonis

[2015-01-25 16:22] Yomodo opened #123 "When Directory.Encrypt/Decrypt() is non-recursive, only process the folder."
Currently also the root items of that folder are processed.

[2015-01-25 16:22] Yomodo commented on #122
True, if non-recursive, it should only encrypt the given folder, NOT its contents (root items)

Created issue #123

[2015-01-25 16:22] #122 closed, assigned to Yomodo

[2015-01-25 17:04] #123 closed, assigned to Yomodo

[2015-01-25 18:11] alphaleonis commented on #111
@Yomodo Hey, do you mind reviewing the changes I made to the **feature/file-open-buffersize** branch regarding this issue? I don't want it merged yet, I will continue by splitting the File.Open file into multiple files because it got kind of large as well, but thought it'd be easier to review before doing that.

[2015-01-26 18:51] Yomodo commented on #111
.NET originally has 3 `File.Open()` methods.
AlphaFS will have a total of 46 `File.Open()` methods. :no_mouth:

Isn't that a bit too much/overwhelming?

I think we should, of course, implement the .NET versions and AlphaFS Transacted versions thereof.

For the other overloaded methods, perhaps we should consider something like a `FileOpenOptions`
struct which hosts all the possible parameters.  Si

[2015-01-26 18:57] Yomodo opened #124 "Unit tests for long/short path are failing."
AlphaFS_GetLongFrom83ShortPath()
AlphaFS_GetShort83Path()

[2015-01-27 09:15] alphaleonis commented on #111
One reason for the added amount is that we need to take all the overloads of the `FileStream` constructor as well, since these also are used for opening files in .NET, so comparing with the .NET `File.Open` only is not really fair.

But yeah, 46 methods is a bit much, I agree.

I'm thinking of just splitting them in half by doing a File.OpenTransacted() or something instead, which would give it 23

[2015-01-27 09:21] Yomodo commented on #111
I like the idea of prefixing the Transacted methods with `Transacted`
But, if we do it for `File.Open()` we should be consistent and rename _all_ other methods also, in time?

[2015-01-27 11:31] alphaleonis commented on #111
Yeah, that's probably not a bad idea considering that there are quite a lot of overloads now.  Of course, it is quite a major breaking change, though I*m not sure how widespread the use of it is since microsoft "kind of deprecated" the feature.   Perhaps it is something we should do?

[2015-01-27 11:38] Yomodo commented on #111
I think now (as in 2.1) would certainly be the time.

As a side note, look at: `Directory.CreateDirectory()`
Currently **32** methods of CreateDirectory-fu I'm not really happy with.

[2015-01-27 11:42] Yomodo commented on #111
Regarding Transaction, we should keep supporting it as long as it is available?
We've already have methods nicely worked out, so why not.

[2015-01-27 11:52] alphaleonis commented on #111
Yeah, absolutely, we'll keep supporting transactions as long as Windows supports them. But yeah, sounds like a good idea to split these into separate methods. Let's create a separate issue for that, and leave it out of this one though.  I take it everything looked okay otherwise?

[2015-01-27 11:56] Yomodo commented on #111
Regarding `File.Open()`?  Yes, good to go!

[2015-01-27 12:35] Yomodo commented on #111
How about a separate **Transactional** namespace, to host all those methods that support transactions.

[2015-01-27 12:48] catester opened #125 "Can you avoid CLSCompliant(false) for whole assembly?"
Is it necessary to apply this attribute to the AlphaFS assembly? You can already apply it at class or member level. Possibly you need this attribute for Native related classes/members and only if they are public.

When I reference AlphaFS assembly and only use simple public classes like FileInfo or DirectoryInfo in my own assembly with CLSCompliant(true), I get compiler warnings so it breaks my as

[2015-01-27 13:09] alphaleonis commented on #125
@catester Or you could send us a pull-request with the changes required? ;)

[2015-01-27 13:11] alphaleonis commented on #111
That would mean creating a whole new class hiearchy... seems overkill if you ask me.

[2015-01-27 13:13] catester commented on #125
Ok :) I will look into it.

[2015-01-27 15:52] alphaleonis opened #126 "Suffix the name of all methods working with TxF with "Transacted""
The number of overloads for methods are growing to be somewhat unmanageable. For example in the latest incarnation, `File.Open` was reported to have 46 overloads. This makes it hard to find the one you want. To alleviate this we propose to rename all methods that accept a `KernelTransaction` parameter so that they end with the **"Transacted"** suffix, for example `File.OpenTransacted` etc.

[2015-01-27 15:52] alphaleonis commented on #126
See also discussion in #111

[2015-01-28 09:12] #124 closed, assigned to Yomodo

[2015-01-28 10:06] #121 closed, assigned to Yomodo

[2015-01-28 17:44] #110 closed, assigned to Yomodo

[2015-01-29 17:07] Yomodo opened #127 "Modify method Volume.QueryDosDevice() so that is doesn't rely on Path.IsLocalPath() anymore."

[2015-01-29 17:19] #127 closed, assigned to Yomodo

[2015-01-29 17:37] Yomodo opened #128 "Remove Path.IsLocalPath() in favour of Path.IsUncPath()."
`Path.IsUncPath()` determines whether a path is a UNC path.

So, `!Path.IsUncPath()` == `Path.IsLocalPath()` should be sufficient.

[2015-01-29 18:25] Yomodo opened #129 "Modify Path.LocalToUnc() to support GetFullPathOptions enum."
The overloaded methods that currently use `boolean` should be removed.

However, this requires that `enum GetFullPathOptions` becomes public.

[2015-01-29 18:35] Yomodo opened #130 "Modify method Path.LocalToUnc() so that is doesn't rely on Path.IsLocalPath() anymore."

[2015-01-29 19:10] Yomodo commented on #129
Disregard, `Path.LocaltoUnc()` is not that prominent a method to justify a breaking change.

[2015-01-29 19:10] #129 closed, assigned to Yomodo

[2015-01-30 08:59] #130 closed, assigned to Yomodo

[2015-01-30 10:45] Yomodo opened #131 "Modify Path.GetPathRoot() to handle UNC paths in long path format."
Input UNC path in long path format: `\\?\UNC\SERVER001\C$\WINDOWS\System32`

Both System.IO and AlphaFS return: `\\?\UNC` which is not helpful.
Enhancement for AlphaFS, return: `\\?\UNC\SERVER001\C$`

[2015-01-30 15:24] Yomodo opened #132 "Modify VolumeInfo() constructor to better handle input paths."

[2015-01-30 16:45] #132 closed, assigned to Yomodo

[2015-01-30 21:59] #131 closed, assigned to Yomodo

[2015-01-30 22:00] Yomodo commented on #131
As of version 2.1
https://github.com/alphaleonis/AlphaFS/wiki/Path.GetPathRoot%28%29

[2015-01-30 22:22] Yomodo opened #133 "Add missing unit test Host.GetHostShareFromPath()"

[2015-01-30 23:16] #133 closed, assigned to Yomodo

[2015-01-30 23:16] Yomodo commented on #133
#132 should be #133

[2015-01-30 23:35] Yomodo commented on #128
The dependency of `Path.IsLocalPath()` has been removed.

Remove `Path.IsLocalPath()` in favour of `Path.IsUncPath()`

[2015-01-31 18:04] #119 closed, assigned to Yomodo

[2015-01-31 18:04] #128 closed, assigned to nobody

[2015-01-31 18:54] #111 closed, assigned to alphaleonis

[2015-02-01 12:52] #109 closed, assigned to Yomodo

[2015-02-01 16:35] Yomodo opened #134 "Improve exception throwing for method FindFileSystemEntryInfo.FindFirstFile()"
Currently a `DirectoryFoundException()` is thrown for both
`Win32Errors.ERROR_FILE_NOT_FOUND` and `Win32Errors.ERROR_PATH_NOT_FOUND`.

[2015-02-01 16:49] #134 closed, assigned to Yomodo

[2015-02-01 16:55] Yomodo commented on #41
Unfortunately, I could not find anything to fix within AlphaFS.

The only possbile _fix_ for this issue,
is to add a: `Thread.Sleep(1000);` before calling `DirectoryInfo()`.

[2015-02-01 16:55] #41 closed, assigned to nobody

[2015-02-01 17:40] alphaleonis opened #136 "Release 2.0.1"
Some bugfixes has been checked in, and we have no more in store right now, so should probably push out version 2.0.1.

[2015-02-02 00:12] #113 closed, assigned to Yomodo

[2015-02-02 10:32] #112 closed, assigned to Yomodo

[2015-02-02 16:42] rzeygerman opened #137 "Script exits on exception "Access-Denied""
Pwershell 2.0 witth AlphaFS.dll vs2.0
This code keeps exiting when it encounters "access-denied" exception to a folder. How can I make it continue?
# Load Assembly DLL
# Initialize Variables

$Path = "D:\"
# Read all folders into $Folders Array Variable

$Folders= [Alphaleonis.Win32.Filesystem.Directory]::GetDirectories($Path,"*","AllDirectories")
# Display each Folder

Foreach ($Folder in $Folder

[2015-02-02 16:47] Yomodo commented on #137
You need a try/catch construct:
http://blogs.technet.com/b/heyscriptingguy/archive/2010/03/11/hey-scripting-guy-march-11-2010.aspx

[2015-02-02 16:47] #137 closed, assigned to nobody

[2015-02-02 16:47] Yomodo commented on #137
Also please check out Wiki: https://github.com/alphaleonis/AlphaFS/wiki/PowerShell

You current PowerShell code is not going to last:

`#Read all folders into $Folders Array Variable`
`$Folders= ...`

[2015-02-03 10:54] Yomodo opened #138 "Modify GetShareInfo() to use SafeGlobalMemoryBufferHandle instead of IntPtr."

[2015-02-03 11:30] #138 closed, assigned to Yomodo

[2015-02-03 12:17] Yomodo opened #139 "Modify GetDfsInfoInternal() to use SafeGlobalMemoryBufferHandle instead of IntPtr."

[2015-02-03 12:29] #139 closed, assigned to Yomodo

[2015-02-03 14:06] rzeygerman commented on #137
Try Catch is still crashing with Accedd-Denied

Try{
AllFilesArray=Alphaleonis.Win32.Filesystem.Directory]::GetDirectories($StartPath,"*","AllDirectories")}
 Catch [system.exception]
{ }
Finally
{
 Foreach ($file in $AllFilesArray) { $file}
}

[2015-02-03 14:18] Yomodo commented on #137
Your PowerShell code should be something like this:

[code]

Or:

[code]

[2015-02-03 15:15] rzeygerman commented on #137
Thank you Jeffrey,

I really appreciate you trying to help with this. I am a newbie, but its not my first "scripting" rodeo. This in my opinion should not be as complected as it is turning out to be...

I actually tried using both options you gave me with 3 different approaches to get the paths:

$Array=[Alphaleonis.Win32.Filesystem.Directory]::GetDirectories($StartPath,"_","AllDirectories")
$Arra

[2015-02-03 15:24] Yomodo commented on #137
Hi,

I think I see the error now: `AllDirectories` is invalid. :smile:

It should be either: `System.IO.SearchOption.TopDirectoryOnly` or `System.IO.SearchOption.AllDirectories`

E.g.: `[Alphaleonis.Win32.Filesystem.Directory]::EnumerateDirectories($StartPath,"*", [System.IO.SearchOption]::AllDirectories)`

[2015-02-03 15:51] rzeygerman commented on #137
now, that's not it :-(

using powershell 2.0 / AlphaFS 2.0  (in case i haven't mentioned it)

error message using Array = [Alphaleonis.Win32.Filesystem.Directory]::GetDirectories($StartPath,"*","System.IO.SearchOption.AllDirectories")

Cannot convert argument "2", with value: "System.IO.SearchOption.AllDirectories", for "GetDirectories" to type "System.IO.SearchOption": "Cannot conver
t value "Sys

[2015-02-03 15:56] Yomodo commented on #137
Type it literally like this: **[System.IO.SearchOption]::AllDirectories**
But do **not** put it between `""`

Copy/paste this line. I tested it and it works:

`[Alphaleonis.Win32.Filesystem.Directory]::EnumerateDirectories($StartPath,"*", [System.IO.SearchOption]::AllDirectories)`

[2015-02-03 15:59] rzeygerman commented on #137
Thank you, [System.IO.SearchOption]::AllDirectories did replace "AllDirectories" and executed with the error below

Exception calling "GetDirectories" with "3" argument(s): "(5) Access is denied: [\?\c:\users\rzeygerman\Application Data]"
At C:\Users\rzeygerman\AppData\Local\Temp\tmp3107.ps1:15 char:75
-  $AllFilesArray = [Alphaleonis.Win32.Filesystem.Directory]::GetDirectories <<<< ($StartPath,"*

[2015-02-03 16:05] Yomodo commented on #137
You forgot the **$**AllFilesArray

[2015-02-03 16:05] rzeygerman commented on #137
It did work, and gave me again, the exact "partial result" i was receiving before: (notice how it never gets any folders passed "AppData\Roaming" and never get to the inside of the Desktop Folder.

c:\users\rzeygerman\AlphaFS-2.0.0
c:\users\rzeygerman\ALTools
c:\users\rzeygerman\AppData
c:\users\rzeygerman\Application Data
c:\users\rzeygerman\Contacts
c:\users\rzeygerman\Cookies
c:\users\rzeygerma

[2015-02-03 16:18] rzeygerman commented on #137
Basically, I am expecting to receive an identical result using

 Try
 {$AllFilesArray=[Alphaleonis.Win32.Filesystem.Directory]::EnumerateDirectories($StartPath,"*", [System.IO.SearchOption]::AllDirectories)
 Foreach ($file in $AllFilesArray) { $file }
 }
 Catch {}

As I would using the code below:
$a=Get-ChildItem $StartPath -Recurse -Force -silentlycontinue | Where {$_.PSIsContainer}
Foreach ($Fi

[2015-02-03 16:45] Yomodo commented on #137
The exception is typical to .NET, `[System.IO.Directory]::EnumerateXxx()` functions also suffers from this.

AlphaFS has a remedy for this, the function we're looking for is: `[Alphaleonis.Win32.Filesystem.Directory]::EnumerateFileSystemEntryInfos()`

This function supports: `DirectoryEnumerationOptions.ContinueOnException`
(http://alphafs.alphaleonis.com/doc/2.0/api/html/6354F8EE.htm)

Unfortunat

[2015-02-03 17:43] rzeygerman commented on #137
Thank you Jeffrey for all your help.
Looks like I need to find another way to do this.
I guess I can run the getchilditem  inside a try catch.
But how would I catch and assign LongPath to the running Array?

[2015-02-03 17:56] Yomodo commented on #137
You can catch PATH TOO LONG errors using... AlphaFS :smile:

Although it is usable from PowerShell, not all methods (like EnumerateFileSystemEntryInfos()) are suitable for PowerShell because of generics.

[2015-02-03 20:24] Yomodo opened #140 "Replace internal DFS_INFO_4 structure with DFS_INFO_9."
DFS_INFO_9 has some additional DFS-related properties.

This affects DfsInfo()

[2015-02-04 00:02] #140 closed, assigned to Yomodo

[2015-02-04 00:32] Yomodo opened #141 "Remove obsolete Resources (resx) string messages."

[2015-02-04 01:22] Yomodo opened #142 "Move literal strings to Resources (resx)"

[2015-02-04 10:53] #141 closed, assigned to Yomodo

[2015-02-04 12:15] #142 closed, assigned to Yomodo

[2015-02-05 15:37] Yomodo opened #143 "I use AlphaFS!"
To show us your gratitude, please consider donating an astronomical amount of cash.

Or, if that is too much to ask :yum: then just let us, and the rest of the world,
know that you use AlphaFS in your application; just provide some details.

This would be very much appreciated!

[2015-02-05 16:08] Yomodo commented on #143
In my combined role as a SysAdmin/Developer at work, AlphaFS has saved me many a time.
Especially when it came to all that "admin stuff" such as copying/scanning home-folders or
setting access-rights. You know, the works.

The most exciting experience I have with AlphaFS, was when we needed to remove deeply-nested backup-folders from 3000+ workstations, using a remote PowerShell script.

Yes it to

[2015-02-05 18:41] milos12345 commented on #143
Two years ago I have started developing [One Commander](http://onecommander.com)  file manager. Since I used `System.IO` the supported path length was limited. I tried several libraries promising 260+ characters in path and each of those failed in one way or the other. Luckily I have found AlphaFS and within one hour I replaced all `System.IO` with AlphaFS and path length limitation was fixed.

Pe

[2015-02-05 22:08] Yomodo opened #144 "Add DirectoryInfo.EnumerateXxx() methods with support for DirectoryEnumerationOptions enum."

[2015-02-05 22:42] martin-john-green opened #145 "SetCurrentDirectory"
AlphaFS 2.0 (.Net 4.5) on Windows 7 and 8.1 called from PowerShell

The current working directory" used by AlphaFS seems to be different to the directory used by PowerShell (which is OK, that allows it to handle long path names).

However when calling SetCurrentDirectory() with a valid long absolute path an exception is thrown "Path is a zero-length string or contains only white space"

When calli

[2015-02-05 22:54] Yomodo commented on #145
In PowerShell `[Alphaleonis.Win32.Filesystem.Directory]::GetCurrentDirectory()`
`[System.Environment]::CurrentDirectory` and `[System.IO.Directory]::GetCurrentDirectory()` should all be equal since AlphaFS calls the .NET version internally.

Unfortunately, the Win22 API's for `GetCurrentDirectory()` and `SetCurrentDirectory()`
**do not** support the long path format.

As an alternative, avoid usin

[2015-02-05 22:56] Yomodo commented on #145
_However when calling SetCurrentDirectory() with a valid long absolute path an exception is thrown "Path is a zero-length string or contains only white space"_

Could you show me an example of this?
Internally a regular (short) path is always constructed.

[2015-02-05 23:06] martin-john-green commented on #145
The attached shows the two issues I mentioned in #145

PS I am brand new to GitHub!

CD C:\temp
SUBST X: /D
SUBST Y: /D
SUBST Z: /D

SUBST X: C:\temp
MKDIR    X:----01--------02--------03--------04--------05--------06--------07--------08--------09--------10----
SUBST Y: X:----01--------02--------03--------04--------05--------06--------07--------08--------09--------10----
MKDIR    Y:----11--------1

[2015-02-05 23:17] martin-john-green commented on #145
So the AlphaFS versions of these methods suffer from the same limitations as the .NET version?!

[2015-02-05 23:20] Yomodo commented on #145
Unfortunately, yes. :disappointed:

[2015-02-06 13:57] #144 closed, assigned to Yomodo

[2015-02-06 14:44] #145 closed, assigned to nobody

[2015-02-07 03:33] #126 closed, assigned to Yomodo

[2015-02-07 14:27] Yomodo opened #146 "Add method DirectoryInfo.EnumerateAlternateDataStreams()."
NTFS Alternate Data Streams can also be applied to directories.

Currently, only `FileInfo()` class has this.

Also add to `Directory()` class.

[2015-02-07 14:34] rstarkov opened #147 "Add overloaded methods to set Reparse Point Timestamp."
When presented with a path to a reparse point, all of the Set*Time methods modify the link target instead of the reparse point. This is consistent with the System.IO methods.

It would be great if there was a way to override this behaviour and provide an API to modify the reparse point timestamp instead.

Two use cases come to mind. One is that WinRAR is able to archive the contents of symlinked f

[2015-02-07 15:08] Yomodo commented on #147
You can submit a pull request on the develop branch.
Thanks for this feature!

[2015-02-07 16:27] alphaleonis opened #148 "Several unit-tests fails"
I have a bunch of unit-tests failing, all with the error message: `Assert.IsTrue failed. Expected Win32Exception error should be: [67], got: [21]`.
- AlphaFS_Copy
- CreateDirectory
- Delete
- Delete (why do we have two tests with the same name?
- EnumerateDirectories
- EnumerateFiles
- EnumerateFileSystemEntries
- FileSystem_Class_FileInfo
- GetDirectories
- GetFiles
- GetFileSystemEntries

One te

[2015-02-07 16:34] alphaleonis commented on #125
Fixed with commit e1b2bba8d01d2b9595173b255bfc34db28238084

[2015-02-07 16:34] #125 closed, assigned to alphaleonis

[2015-02-07 16:48] alphaleonis commented on #136
2.0.1 has been released.

[2015-02-07 16:48] #136 closed, assigned to alphaleonis

[2015-02-07 16:54] alphaleonis commented on #147
@rstarkov Yeah, the master branch is equal to the 2.0.1 release at this moment. The develop branch is for the next version 2.1. We are following the GitFlow branching model here, so no direct commits are made to the master branch.  A pull request for this feature should be made to the **develop** branch.

There is some more info [in the wiki](https://github.com/alphaleonis/AlphaFS/wiki/Contributio

[2015-02-07 16:54] Yomodo commented on #148
The tests with the same name would be individually for File and Directory class.
AlphaFS_Copy is specific for Directory class as .NET does not have this method.

On my system (Win 8) and test system (Win 7) the File.Copy/Move would _sometimes_ fail with one of the above exceptions, but on a re-run they run fine.
As far as I can tell this seems to be related to disconnected network shares.

As for

[2015-02-07 17:00] alphaleonis commented on #148
Hmm... well, sounds like a test error of some sort. The 21/67 error indicates that it is expecting `ERROR_BAD_NET_NAME` but got `ERROR_NOT_READY` for some reason.

The tests seem to fail consistently, no matter how many times I run them. :/

[2015-02-07 18:32] rstarkov commented on #147
Alright, so I'm thinking of doing it like this then: https://github.com/rstarkov/AlphaFS/commit/3ad814b438ca6e957941e5d56bcefa9fe284f107

Would appreciate a nod or something before I go ahead and do the same to the other 17 methods.

[2015-02-08 02:02] Yomodo opened #149 "Split unit-tests."
Unit tests files are huge.

Rename test methods to adhere to the Contribution Guidelines.

[2015-02-08 12:13] Yomodo opened #151 "Add Directory.EnumerateXxx() methods with support for DirectoryEnumerationOptions- and PathFormat enum."
Rename internal Win32 enum: `FindexInfoLevels` to: `FINDEX_INFO_LEVELS`.
Rename internal Win32 enum: `FindExSearchOps` to: `FINDEX_SEARCH_OPS`.
Add possible `Exceptions` to methods.

[2015-02-08 12:39] alphaleonis commented on #149
:+1:

[2015-02-08 16:39] #151 closed, assigned to Yomodo

[2015-02-08 19:55] martin-john-green opened #152 "Suggestion: handling 'current directory'"
## Suggestion for AlphaFS handling of the 'current directory'

I realise that the "current" directory is a "global" concept used across many Windows/.NET functions.

AlphaFS uses the global "current directory". It allows AlphaFS functions to resolve relative pathnames as expected and hence allows AlphaFS functions to be used alongside Windows/.NET functions

However, the Windows/.NET "current dire

[2015-02-08 20:02] martin-john-green opened #153 "Question: Create file object from path?"
Is there a simple way of constructing the type of file object returned by (say) Get-ChildItem (PowerShell) from the long pathnames returned by AlphaFS?

[2015-02-08 20:11] Yomodo commented on #153
Perhaps our Wiki can help you?
https://github.com/alphaleonis/AlphaFS/wiki/PowerShell

[2015-02-08 20:19] Yomodo commented on #152
AlphaFS is **only** able to use long paths for a function when there is a Win32 API equivalent that supports long paths. For example: `System.IO.File.Copy()` uses the Win32 API `CopyFile()` while AlphaFS uses `CopyFileW()`.

For the `Directory.GetCurrentDirectory()` and `Directory.SetCurrentDirectory()` methods, there is no Win32 API with long path support which also effects AlphaFS.

For AlphaFS

[2015-02-09 08:21] alphaleonis commented on #152
I agree with @Yomodo here. Creating our own notion of "current directory" would be complicated and error prone and mostly confusing since we could never cover every scenario, which would mean you actually have two different _current directory_ settings depending on the function you're using.  It is a better idea to change you application to use full paths instead.

[2015-02-09 08:33] Yomodo opened #154 "Modify private method FindFileSystemEntryInfo.FindFirstFile() to report the full path on Exception."
Currently:
`// Use path without any search filter.`
`string path = Path.GetDirectoryName(pathLp, false);`

Use property: `InputPath` instead, which contains the full path.

[2015-02-09 09:37] #154 closed, assigned to Yomodo

[2015-02-09 20:57] martin-john-green commented on #152
I appreciate you reluctance to implement what would in effect give rise to two “current directories”

I also prefer absolute path names, but when re-engineering existing code (not mine) it is not always economic to change a lot of code

I fail to see what value SetCurrentDirectory() and GetCurrentDirectory() add if they can’t handle long paths (which is one of the major “selling points” of AlphaFS

[2015-02-09 21:08] Yomodo commented on #152
Even though `Get/SetCurrentDirectory()` do not support long paths, it is expected that these functions are available as AlphaFS claims to be a rewrite of several `System.IO` classes.

It is also kind of messy and confusing to switch between `[System.IO.Directory]` and `[Alphaleonis.Win32.Filesystem.Directory]`

Please don't shoot the coders.

[2015-02-09 21:15] martin-john-green commented on #152
But these are not rewrites, they are wrappers that add no value

It is kind of messy to use some functions that do handle long paths and some that don’t!

Just keeping the coders honest

[2015-02-09 23:23] Yomodo commented on #152
Some info.

After re-reading the MSDN docs on [`GetCurrentDirectory()`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364934%28v=vs.85%29.aspx) one could conclude that this function _should_ support long paths; MSDN neither confirms nor denies it, as opposed to `SetCurrentDirectory()`:
**The string must not exceed MAX_PATH characters, including the terminating null character.**

There

[2015-02-10 15:58] segfault- opened #155 "SetAccessControl"
was following this blog post:
http://blogs.technet.com/b/fieldcoding/archive/2014/12/05/ntfssecurity-tutorial-2-managing-ntfs-inheritance-and-using-privileges.aspx

specifically:
Set-NTFSOwner .\Data -Account 'NT AUTHORITY\SYSTEM'
Disable-NTFSAccessInheritance .\Data -RemoveInheritedAccessRules

when i try to set owner via AlphaFS:
try
                {

[code]

what is going on here?

[2015-02-10 16:28] Yomodo commented on #155
I don't know, you tell me :)
What exactly goes wrong?

[2015-02-10 16:47] #155 closed, assigned to nobody

[2015-02-10 16:49] segfault- commented on #155
turns out it is working with the code below:
                using (new Alphaleonis.Win32.Security.PrivilegeEnabler(Alphaleonis.Win32.Security.Privilege.Security, Alphaleonis.Win32.Security.Privilege.Audit, Alphaleonis.Win32.Security.Privilege.Restore, Alphaleonis.Win32.Security.Privilege.Backup, Alphaleonis.Win32.Security.Privilege.TakeOwnership))
                {
                    Alphaleonis

[2015-02-11 15:16] Yomodo commented on #153
@martin-john-green Were you able to find what you need?

[2015-02-11 20:35] martin-john-green commented on #153
Thanks for your help.

I realised that could get what I needed from the attributes of the file, rather than the properties of an object representing the file.

I found it easier to get the file attributes as a bitmap then mask them, rather than using FileInfo and FileSystemEntryInfo (I am using the AlphaFS classes to do this)

I am currently recoding some inherited PowerShell code to remove use of

[2015-02-11 20:45] martin-john-green commented on #143
I am currently reworking a PowerShell script that gives up on long paths, despite the fact that they exist all over the file system it is supposed to manage.

Big thanks to AlphaFS developers!

[2015-02-12 10:06] #153 closed, assigned to nobody

[2015-02-12 10:06] #152 closed, assigned to nobody

[2015-02-14 13:54] #147 closed, assigned to nobody

[2015-02-26 08:52] AlphaFS-Fan opened #157 "Access Denied with EnumerateFileSystemEntries"
I would like to write powershell script to change attributes of all files in given path. My script works fine, but if it finds a directory without access to it it stops with Access Denied exception. I tried try/catch exception handling but it didn't help. I also tried with DirectoryEnumerationOptions and   ContinueOnException without any luck.
This command makes Access Denied exception:

$AllFiles

[2015-03-02 22:09] raandree commented on #143
I am using AlphaFS for the [File System Security PowerShell Module](https://gallery.technet.microsoft.com/scriptcenter/1abd77a5-9c0b-4a2b-acef-90dbb2b84e85). This module was previously build on System.IO with all the limitation we know. I was planning a couple of days to migrate the module to an API that supports long paths. Thanks for the great design of AlphaFS it took me just a couple of hours.

[2015-03-04 06:15] KeyMetricSoft opened #158 "Add SuppressUnmanagedCodeSecurity attribute to [DllImport] tag."
I have a quick question for the original developers of this (excellent) library. Have you considered using the SuppressUnmanagedCodeSecurity attribute when p/invoking native methods?

More info here, if you're unfamiliar with the attribute:

http://blog.monitis.com/2012/05/29/improving-net-application-performance-part-16-code-access-security/

[2015-03-04 11:41] alphaleonis commented on #158
No, I don't think that has been considered. Sounds interesting! I will have a look at that post and see if it would be applicable. Thanks for the tip!

[2015-03-12 17:25] Yomodo commented on #157
Regarding exception, does this work for you:

[code]

To skip reparse points, try it with this:

[code]

[2015-03-14 13:47] rhinojosa opened #159 "Integrate NTFS USN Journal history"
This library is a perfect fit for integration with the USN journal history of files.  This typically is used in leu of the FileSystemWatcher for reliable notification of changes.  There is a large lack of support for this feature in the .net world.

[2015-03-16 20:10] martin-john-green opened #160 "CreateSymbolicLink creates shortcut with no target"
It appears that CreateSymbolicLink() creates a shortcut (symlink) with no target

AlphaFS 2.0
Platforms: Windows Server 2008R2, Windows 7

PowerShell example:

[code]

Using the same username (both with elevated privileges)
the following DOS command works as expected

[code]

Maybe I am doing something wrong?

[2015-03-23 21:29] rstarkov commented on #148
I'm getting the same results as alphaleonis. It's a Win7 64-bit system. At least for the Move, it makes sense to receive 183, as it's a more specific error (ERROR_ALREADY_EXISTS, which is indeed true).

I notice that the source path is located in C:\Windows and that the test expects ERROR_ACCESS_DENIED. Could it be that these tests are tuned to run with UAC on? I'm running them as admin with UAC o

[2015-03-24 08:39] Yomodo commented on #148
Hi, yes, in some test require admin right and will report if this is not the case
(volume label for example)

[2015-03-24 14:08] mwolfaardt commented on #1
I would love to see this feature and enhancement to it, I normally get the problem that the system fires the change event before the file has been written completely, leaving you with a change to files that doesn't exist yet..

[2015-03-24 14:34] mwolfaardt opened #161 "Sequence naming of files"
Hi, I would love to have a method that when you create a file,the file gets prefix with 01, and if the file exist 02 and so on.
eg
create a file called file.txt
it will be called 01-file.txt or 01_file.txt
create another file called 01_file.txt and it gets renamed to 02_file.txt

I process a lot of files from email that has the same names and this would really help.

If I get a list of files / pat

[2015-03-29 16:58] AlphaFS-Fan commented on #157
Thanks, but doesn't work. First I took wrong method - EnumerateFileSystemEntries doesn't have DirectoryEnumerationOptions option.
Second - I figured I should use EnumerateFileSystemEntryInfos<T> method but don't know how. If I run

Foreach ($fse In [Alphaleonis.Win32.Filesystem.Directory]::EnumerateFilesystemEntryInfos('C:\Path', '*', $dirEnumOptions, $pathFormat)) {

I get this error:
Cannot find

[2015-04-15 01:48] alexaymonier opened #163 "Filtering out files to copy"
Hi Guys,

Just getting to grips with this in PowerShell and liking it so far. We have a file share and need to copy certain departments data from the file share whilst excluding all other data. Looking at the following it looks like it copies all the child items from the Source.
# Set copy options.

PS C:> $copyOptions = [Alphaleonis.Win32.Filesystem.CopyOptions]::FailIfExists
# Set source and des

[2015-04-22 14:17] PapaSpik3 opened #164 "Error Handling"
Hello Guys,

thanks for your good work!

I try to sum my directory size on all network shares. But sometimes it fails and return nothing. Is it possible to continue if an error occurred (acces, or is in use...)?

I use powershell 4.0 with .Net 4.5.2 and AlphaFS 2.1.0

$AlphaFSDir::EnumerateDirectories($LongPath,"*",[System.IO.SearchOption]::AllDirectories) | % {$FileSize += $AlphaFSDir::GetPropert

[2015-04-22 15:56] Melonking906 opened #165 "Creating striped disks?"
Is it possible to create new striped disks? If so what would be the best to to do so?

[2015-04-24 08:58] #164 closed, assigned to nobody

[2015-04-28 07:27] vincentparrett opened #166 "File.Exists & Directory.Exists fail when path has leading space(s)."
This is a difference in behavior from System.IO.

I looked a the code and it seems  like the solution would be to add a TrimStart option to GetFullPathOptions, I'm happy to create a pull request if this is an acceptable solution.

[2015-04-28 22:46] vincentparrett commented on #166
Directory.Exists(" c:\test");

Will return false even when the directory does exist.

[2015-04-29 07:05] Yomodo commented on #166
I can confirm the issue.

Adding a `TrimStart` to `GetFullPathOptions` would be a way to deal with this,
but it feels more like a workaround.
I need to investigate where it is that .NET trims the trailing space from a file path,
or where/why AlphaFS does not when it should.

[2015-04-29 07:28] Yomodo commented on #165
No, AlphaFS does not have any support in that area.

[2015-04-29 07:33] Yomodo commented on #163
I tested your syntax and it works fine.
You did notice that you're missing a backslash in here: `GetDirectories("\fileserver...`

[2015-05-05 13:39] arnaudperfect opened #167 "Look the NTFS permissions of a folder"
Hello,

I would like to look the NTFS permissions of a folder.
## I do that:

Add-type -Path D:\PowerShell\Script\AlphaFS.2.0.1\lib\net45\AlphaFS.dll
$Path = "\\Server\i$\Home\Folder-01"
$LongDirectory = [Alphaleonis.Win32.Filesystem.Path]::GetLongPath($Path)
$FSObject = New-Object Alphaleonis.Win32.Filesystem.DirectoryInfo($LongDirectory)
$ItemACL = $FSObject.GetAccessControl("Access")
$ItemACL.G

[2015-05-06 19:44] Yomodo commented on #167
I think you need this:

[How do I get the display name for an IdentityReference object?](http://stackoverflow.com/questions/7005761/how-do-i-get-the-display-name-for-an-identityreference-object)

[2015-05-07 08:27] arnaudperfect commented on #167
Hello,

Thank you for your return.

I tried to use the function "System.Security.Principal.SecurityIdentifier()" and " Translate()", but it does not work with this local accounts on remote servers.

$LongDirectory = [Alphaleonis.Win32.Filesystem.Path]::GetLongPath($Path)
$ItemACL = [Alphaleonis.Win32.Filesystem.Directory]::GetAccessControl($LongDirectory)
$ItemACL.GetAccessRules($true, $true, [Sys

[2015-05-10 17:32] Lupinho opened #168 "Error on File.Open with access-mode Append?"
Hi,
I get an error, if opening a file in append mode using:
File.Open(path, FileMode.Append, FileAccess.Write, FileShare.Read);
The same call to the .Net-API works as expected. Is this a bug?
The error is:
System.IO.IOException was unhandled by user code
  HResult=87
  Message=(87) Falscher Parameter: [\?\E:\Backup\2015-05-10_19.10\backup_2015-05-10_19_10_13.log]
  Source=AlphaFS
  StackTrace:

[2015-05-15 16:59] Yomodo commented on #157
Calling methods with generics requires a different approach.
This might help you:

[code]

And call it from PowerShell, like:

[code]

[2015-05-15 17:05] Yomodo commented on #137
@rzeygerman Check this posting please: #157

[2015-05-18 18:11] Yomodo opened #169 "DirectoryInfo .ToString() returns path with \\UNC prefix."
[code]

Output: `\\?\UNC\domain\NetLogon\folder`
Should be: `\\domain\NetLogon\folder`

[2015-06-03 14:57] Jan1503 opened #170 "Getting CompressedSize and SizeOnDisk"
Hi there!

I also have the problem with these stupid path-too-long exceptions and would like to switch to your library.

I need to scan the shares on various file-servers and enumerate it's sizes for billing purposes.
For this I need to get the "real" size-on-disk and not the size of the file itself.

Here's some snippet in vb.net which I'm currently using to do this:

For Each file In extendedSha

[2015-06-04 06:15] Yomodo commented on #170
Hi,  there's the implementation of [File.GetCompressedSize()](http://alphafs.alphaleonis.com/doc/2.0/api/html/B2A9FCCA.htm) method.
To get a volume's cluster size etc, you can use the [DiskSpaceInfo()](http://alphafs.alphaleonis.com/doc/2.0/api/html/C720ACA5.htm) class.

[2015-06-04 10:24] Jan1503 commented on #170
Thanks for your reply.
Will try that!
Regards,
Jan

[2015-06-04 10:24] #170 closed, assigned to nobody

[2015-06-08 07:35] Jan1503 opened #171 "How to avoid deadlocks because of junction points"
Hi!

I'm using AlphaFS to scan a bunch of fileservers for shares and report it's sizes for billing purposes.

Now over the weekend my service runs into an endless loop because of a juntion point under users profiles "application data". See here: http://answers.microsoft.com/en-us/windows/forum/windows_7-files/windows-7-infinite-loop-while-using-robocopy/20f32f0c-4cb9-4125-923d-6a57e4d27232
or here

[2015-06-08 08:38] Yomodo commented on #171
Hi Jan,
The AlphaFS implementation of `DirectoryInfo` and `FileInfo` both contain an additional property: [EntryInfo](http://alphafs.alphaleonis.com/doc/2.0/api/html/7D97CBAE.htm) which might help you out: `IsMountPoint`, `IsReparsePoint`, `IsSymbolicLink`

FileSystemEntryInfo instances can also be returned by using method [Directory.EnumerateFileSystemEntryInfos()](http://alphafs.alphaleonis.com/

[2015-06-08 09:17] Jan1503 commented on #171
Thanks Yomodo,

but what happens, if I use the recursive search function of the framework to get my files since it's easier...

[code]

How to handle it there?
Haven't tested the above exclusions yet but would assume they're not working on subdirectories.

[2015-06-08 15:13] Yomodo commented on #171
Sorry, I'm not sure what you mean.
It should be possible to replace `EnumerateDirectories()` and `EnumerateFiles()` with `EnumerateFileSystemEntryInfos()`

[2015-06-08 15:25] Jan1503 commented on #171
Hi!
As I said, I need to get the overall size of any shares of my fileservers. As there is no built-in method to get the overall size, I need to recursively step thru the directories and get the file's length.
I'm not sure, if my current code is the fastest one, but it works well. But I'm afraid it will fail if some sub-directory is a junction point. I added the exclusion at the top-level director

[2015-06-08 15:41] Yomodo commented on #171
Just to be clear, did the addition of: `.Where(Function(a) a.EntryInfo.IsMountPoint = False And a.EntryInfo.IsReparsePoint = False And a.EntryInfo.IsSymbolicLink = False)`
helped in solving your issue?

[2015-06-08 19:35] Jan1503 commented on #171
Hi!
Sorry for my late reply.
I haven't tried it today cause I can't run it during normal work hours due to the load it causes.
But from a few test's I can see it's significantly slower with these exceptions. Will do further tests tomorrow. Currently I'm using 2 threads per server to avoid hdd overloading.

Maybe u know of any other method to efficiently enumerate folder-sizes? I'm not happy with t

[2015-06-09 06:42] Jan1503 commented on #171
Ok, just a quick update. Above exclusions didn't work on subdirectories just as expected. Only the top-level dirs are checked. Will have to implement my own recursive function. May be this could be an enhancement in future versions?

[2015-06-09 06:52] Jan1503 commented on #171
Just looked at your comment about EnumerateFileSystemEntryInfos() again. It's worth a try using the flags to return files only and to skip reparse points.

[2015-06-09 07:07] Yomodo commented on #171
Indeed, don't forget to also add `Recursive`.

[2015-06-10 05:39] meccoro opened #172 "Error on DirectoryInfo.GetFileSystemInfos() with drives that are mounted to NTFS"
## environment
- OS : Windows7 64bit Professional
- .NET : 3.5
- AlpaFS : [2.0.1](https://github.com/alphaleonis/AlphaFS/releases/tag/v2.0.1)
## current behavior

For drives that are mounted to NTFS, you can use the following methods, an error is thrown
- Alphaleonis.Win32.Filesystem.DirectoryInfo.GetFileSystemInfos()

stacktrace

## sorce code

`DirectoryInfo directoryInfo = new DirectoryInfo(pat

[2015-06-10 08:46] Yomodo commented on #172
What does `path` look like?
Do you mean mounted drives as in attached USB sticks/drives with NTFS?

[2015-06-11 12:48] meccoro commented on #172
## step
- 1 there is a volume that is formatted with NTFS (H:¥)
- 2 create an empty folder “aaa” (H:¥aaa)
- 3 create a "simple volume" from the "Disk Management"
- 4 specify the following in the "drive letter or, allocation of path”<br>
  mount an empty NTFS folder<br>
  H:¥aaa<br>
- like this<br>
  `DirectoryInfo directoryInfo = new DirectoryInfo(H:¥aaa)`
  `directoryInfo.GetFileSystemInfos();`

[2015-06-16 08:03] Lupinho opened #173 "Error on EnumerateAlternateDataStreams.MoveNext on shadow copies"
I'd like to get alternative datastreams for files of a volume shadow copy. So path starts like this: "\?\GLOBALROOT\Device\HarddiskVolumeShadowCopy89\"
Then I get an error like this:
System.IO.IOException: (123) Die Syntax für den Dateinamen, Verzeichnisnamen oder die Datenträgerbezeichnung ist falsch.
   bei Alphaleonis.Win32.NativeError.ThrowException(UInt32 errorCode, String readPath, String wr

[2015-06-16 14:02] frozenshadow opened #174 "Problem with operators"
This is the first time I use AlphaFS. I have read the documentation over and over again but can’t figure out how to solve this problem. The original piece of code:

[code]

When ‘converting’ this to AlphaFS it gives me the following error:

[code]

And the converted code:

[code]

I’m kind of stuck… can someone help me?
thanks in advance :)

[2015-06-18 06:08] Yomodo commented on #174
Use casting, this should work:

[code]

or, better:

[code]

[2015-06-18 06:10] Yomodo commented on #173
The alternative datastream methods do not work with/for Shadow copies.

[2015-06-18 06:15] frozenshadow commented on #174
Thank you very much Yomodo!
I never thought about that. I’ll try this later today.

[2015-06-19 15:26] frozenshadow commented on #174
It works (as expected) flawlessly. It really helped me get my project lifted off the ground. Again thank you for your support!

Wouldn’t it be great to have some examples on the documentation page? I personally really tend to look at those to understand the code underneath. Maybe even some MSDN examples converted to AlphaFS… Just an idea ;)

[2015-06-19 19:08] Yomodo commented on #174
:) Glad you have it working!

Take a peek here: http://alphafs.alphaleonis.com/
Although, there are no code samples, but well documented AlphaFS members.

Also, the unit-tests are good examples.

[2015-06-19 19:10] #174 closed, assigned to Yomodo

[2015-06-22 08:02] diontools opened #175 "BackupFileStream finalizer throws NullReferenceException, after the constructor throws an exception."
At the BackupFileStream, the finalizer throws NullReferenceException, after the constructor throws an exception.
## Sample code

[code]
## StackTrace

[code]

Thank you for reading.
diontools

[2015-06-23 19:31] Jan1503 commented on #171
Sorry for my late reply. Everything works as expected now.

[2015-06-23 19:31] #171 closed, assigned to nobody

[2015-06-25 04:40] diontools opened #176 "At DirectoryInfo.GetFileSystemInfos, Long path prefix of GLOBALROOT path is missing."
At DirectoryInfo.GetFileSystemInfos, Long path prefix of GLOBALROOT path is missing.
## Directory Structure

C:\TestDir
┗ Example.txt
## Sample Code

[code]
## My Fix

Branch: master
FindFileSystemEntryInfo.cs:158
### Original Code

[code]
### My Fixed Code

[code]

Thank you for reading.
diontools

[2015-07-01 09:16] windischb opened #177 "Use Regex as searchPattern to exclude Files/Folders"
Hi!

Currently i have to enumerate over a bunch of Fileserver shares to generate a Report of all Users who have "Full Control" Permissions...
On this Fileserver there is DFS enabled.
DFS generates a Folder for replication and conflicts/errors.
It would be great if we could use Regex as searchPattern in "EnumerateFileSystemEntryInfos" to exclude such directories!
Or is there any other solution for

[2015-07-02 06:06] Yomodo commented on #177
Hi,
Unfortunately there's no RegEx searching available.

[2015-07-14 14:59] brutaldev opened #179 "Path.GetFileName with an empty string throws an exception"
`Alphaleonis.Win32.Filesystem.Path.GetFileName("")` throws an `ArgumentException` when the equivalent [System.IO version](https://msdn.microsoft.com/en-us/library/system.io.path.getfilename%28v=vs.110%29.aspx) does not and will return a blank string.

According to the docs, only invalid characters should throw an exception and blank string do not contain any invalid characters. The check on line [

[2015-07-14 15:10] brutaldev opened #180 "Network connects methods hangs in Windows service when credentials fail"
If the credentials provided fail when using something like new `new Alphaleonis.Win32.Network.DriveConnection()` or `Host.ConnectTo()` then the code will always prompt with a dialog asking for the credentials. This is fine for applications with a user interface, but if the provided credentials (say from a config file) fail in a Windows service application, then the prompt ends up hanging the servi

[2015-07-16 09:02] thomaslevesque opened #181 "FileInfo.OpenWrite throws FileNotFoundException if the file doesn't exist"
It should create the file, like `System.IO.FileInfo.OpenWrite` does.

[2015-07-17 15:00] #181 closed, assigned to nobody

[2015-07-17 15:31] #176 closed, assigned to nobody

[2015-07-17 16:14] #179 closed, assigned to Yomodo

[2015-07-17 16:30] Yomodo commented on #180
Thanks for reporting.

[2015-07-17 16:38] brutaldev commented on #180
No problem, I integrated AlphaFS into a pretty massive, file system and network share focused application and picked up some of these issues. Easy enough to fix/workaround and I was going to make pull requests for you guys if no-one picked it up.

Thanks for the great library, I recommend it to everyone that needs to do anything significant on the file system in .NET.

[2015-07-17 16:52] Yomodo commented on #175
Thank you!

[2015-07-17 18:25] #180 closed, assigned to Yomodo

[2015-07-17 18:28] Yomodo commented on #180
It seems that interaction with the desktop has been disabled in Windows Vista and beyond,
so I ignored the use of `Environment.UserInteractive`: [Interactive Services](https://msdn.microsoft.com/en-us/library/ms683502%28VS.85%29.aspx)

Instead, `NativeMethods.Connect.None` is now the default and `NativeMethods.Connect.Interactive` is only applied if _Prompt_ is `true`.

[2015-07-17 18:32] Yomodo commented on #180
Also, could you be bothered to share your AlphaFS experience @ #143

[2015-07-17 18:35] #175 closed, assigned to nobody

[2015-07-17 18:36] brutaldev commented on #180
That's correct, so in Windows services from Vista up that are not interactive, the value for `Environment.UserInteractive` will always be `false` and it's `true` in desktop applications. Even if the service has desktop interaction enabled, the prompt will work but just sit there if no-one is logged in.

I agree with having `NativeMethods.Connect.None` as the default, it's much safer and predictabl

[2015-07-17 18:37] #177 closed, assigned to nobody

[2015-07-17 18:39] #165 closed, assigned to nobody

[2015-07-17 19:01] brutaldev commented on #143
Recently replaced a staggering 1500+ calls to `System.IO` methods in [Directory Monitor](https://directorymonitor.com/) with equivalent AlphaFS versions. Also managed to reduce a lot of code (especially P/Invokes) with the nicely wrapped up AlphaFS methods.

For an application so heavily focused on file system and network share operations, a change like this was quite daunting but went through ver

[2015-07-17 20:25] Yomodo opened #184 "File.CreateSymbolicLink() should throw PlatformNotSupportedException() if OS < Vista."
File.CreateSymbolicLink() should throw PlatformNotSupportedException() if OS < Vista.

[2015-07-17 21:02] Yomodo opened #185 "Correct pinvoke signatures of CreateSymbolicLink and CreateSymbolicLinkTransacted functions."
"The unmanaged prototype contains a return directive because the CreateSymbolicLink API function returns BOOLEAN, a one-byte data type. The default marshaling for bool is four bytes (to allow seamless integration with BOOL return values). If you were to use the default marshaling for BOOLEAN values, it's likely that you will get erroneous results. The return directive forces PInvoke to marshal jus

[2015-07-17 21:04] Yomodo commented on #160
Unfortunately this is caused by using internal long path conversion.
The Windows API `CreateSymbolicLink()` does not support long paths.

[2015-07-17 21:46] #160 closed, assigned to Yomodo

[2015-07-17 21:46] #184 closed, assigned to Yomodo

[2015-07-17 21:46] #185 closed, assigned to Yomodo

[2015-07-17 22:02] #163 closed, assigned to nobody

[2015-07-22 11:03] Yomodo opened #186 "Replace WIN32 API NativeMethods.GetVersionEx with NativeMethods.RtlGetVersion"
As of Windows 8.1, `GetVersionEx()` is deprecated / has changed behavior.

Add OS MajorVersion == 10: Windows 10 and Windows Server

[2015-07-27 15:26] arnaudperfect opened #187 "Get right access on network share"
Hello,

Is it possible, with your API, to get right access on network share ? (everyone, etc)
If so, how?

I get to list the network share on a remote server ([Alphaleonis.Win32.Network.Host] :: EnumerateShares ("\SRV001", True) $ | FT), but no access rights on share.

Best Regard,
Arnaud

[2015-07-29 18:23] Yomodo commented on #187
I think this is what you need: http://alphafs.alphaleonis.com/doc/2.0/api/html/1B7C2B56.htm
ShareInfo class

[2015-07-30 15:52] Yomodo opened #188 "Make ShareInfo class property setters private: ShareType, ResourceType."
Should not be public settable.

[2015-07-30 16:16] #188 closed, assigned to Yomodo

[2015-07-30 16:18] #173 closed, assigned to nobody

[2015-07-30 16:21] Yomodo commented on #167
Perhaps this one can be of help, it also uses AlphaFS:

File System Security PowerShell Module 3.2.3
https://gallery.technet.microsoft.com/scriptcenter/1abd77a5-9c0b-4a2b-acef-90dbb2b84e85

[2015-07-30 16:21] #167 closed, assigned to nobody

[2015-07-30 17:58] Yomodo opened #189 "Improve method: Utils.UnitSizeToText()."
Improve method: `Utils.UnitSizeToText()`.

Get rid of `if's` and use a `while()` loop.

[2015-07-30 18:04] #189 closed, assigned to Yomodo

[2015-07-31 06:46] Yomodo opened #190 "Add overloaded methods for File/Directory.Get/SetAccessControl() that accept SafeFileHandle."
Also update/split related unit-tests.

[2015-07-31 09:04] #186 closed, assigned to Yomodo

[2015-07-31 12:58] Yomodo opened #191 "Make class BackupFileStream sealed."

[2015-08-01 06:41] #191 closed, assigned to Yomodo

[2015-08-01 12:27] #190 closed, assigned to Yomodo

[2015-08-01 13:20] Yomodo opened #192 "Add null-checks to SafeHandle.IsInvalid usage."

[2015-08-01 15:16] #192 closed, assigned to Yomodo

[2015-08-01 22:21] #169 closed, assigned to nobody

[2015-08-02 00:30] #166 closed, assigned to nobody

[2015-08-02 09:27] Yomodo opened #193 "Use unicode version of WIN32 API OpenEncryptedFileRaw"
Currently, the ansi version is used: `OpenEncryptedFileRaw`
instead of unicode version: `OpenEncryptedFileRaw`**W**

[2015-08-02 12:11] #146 closed, assigned to Yomodo

[2015-08-02 14:36] Yomodo opened #194 "Add bitshift for Marshal.GetHRForException(ex) usage."
In some situations when using `Marshal.GetHRForException(ex)`, a bitshift is needed to prevent: "System.OverflowException: Arithmetic operation resulted in an overflow."

[2015-08-02 16:03] Yomodo opened #195 "Add useful FileAttributes as properties to FileSystemEntryInfo class."
Added properties, for your convenience:

`IsCompressed`
`IsEncrypted`
`IsOffline`
`IsReadOnly`

[2015-08-03 07:05] #193 closed, assigned to Yomodo

[2015-08-03 07:05] #194 closed, assigned to Yomodo

[2015-08-03 07:05] #195 closed, assigned to Yomodo

[2015-08-03 13:31] Yomodo opened #196 "Replace usage of ExtendedFileAttributes.None with ExtendedFileAttributes.Normal."
`ExtendedFileAttributes.Normal` explicitly sets no attributes.
If you pass `ExtendedFileAttributes.None`, the set of attributes is unspecified.

[2015-08-03 14:03] #196 closed, assigned to Yomodo

[2015-08-03 14:49] Yomodo commented on #168
@Lupinho Could you please check if #116 is still an issue?

[2015-08-03 17:11] Yomodo opened #198 "Path.GetRegularPathCore should not normalize \\?\Volume prefix."

[2015-08-03 17:49] #198 closed, assigned to Yomodo

[2015-08-03 20:32] Yomodo opened #199 "Change FindFileSystemEntryInfo.FindFirstFile() to show actual path instead of inputpath on access error."

[2015-08-03 20:34] #199 closed, assigned to Yomodo

[2015-08-04 18:01] albvar opened #200 "Question: How to determine local drive path of UNC ie path C:\pathofshare from \\server\share"
Simplified question with code examples:
`var driveInfo = new Alphaleonis.Win32.Filesystem.DriveInfo(@"\\\\server\sharename");` `driveInfo.VolumeInfo.Name` is returning the name of the volume label. I however do not see any properties that display the local directory ie C:\pathtoshare

Question in layman's terms:
Trying to find the drive letter for a given unc path. For example I want to provide
\\

[2015-08-04 20:32] Yomodo commented on #200
Unfortunately this is not possible, `DriveInfo` has no idea about/nor does it care, if the UNC path
points to a drive letter. (Being able to use a UNC path is one of the major differences compared to `System.IO`)

There exists a method: [Paths.LocalToUnc()](http://alphafs.alphaleonis.com/doc/2.0/index.html) which will convert a local path to a UNC path.

If you call this method with a mapped drive

[2015-08-07 15:26] thomaslevesque opened #201 "Some exceptions contain an incorrect HRESULT"
Some error codes are mapped to the corresponding .NET exception (`FileNotFoundException`, `UnauthorizedAccessException`, etc), and have the correct HRESULT, which is set by the exception class. However for error codes that don't have a corresponding .NET exception, AlphaFS throws an IOException, and **passes the Win32 error code for the `hresult` parameter**. This makes it difficult to correctly i

[2015-08-07 16:17] #201 closed, assigned to Yomodo

[2015-08-08 12:27] brutaldev commented on #200
You can P/Invoke the the `NetShareEnum` method in `Netapi32.dll` which will give you a `NetShareData2` object that contains the local path. This technique even works on shares to remote machines.

[2015-08-08 13:04] Yomodo commented on #200
@brutaldev Right on!
@albvar AlphaFS already has this, I forgot.

From my laptop, I enumerate the shares from my server: Yomodo

`Network.Host.EnumerateShares()` from host: [yomodo]

[code]

[2015-08-08 13:05] brutaldev commented on #200
Quick look at the network classes in AlphaFS and this is already possible for a single path (since AplhaFS is using `NetShareEnum` behind the scenes).

[code]

[2015-08-08 15:43] albvar commented on #200
Maybe I asked the wrong question - I am not looking to find the fully qualified share location, instead 1. I am looking to find the volume path for my share. Say I have a share that lives in C:\temp\shares as \myserver\shares$ I want the volume path to return C:
2. Lets assume that my share lives in C:\temp\mount\InternationalShares  where mount is a mounted disk and my share unc is \myservers\int

[2015-08-08 16:30] brutaldev commented on #200
@albvar Missing a slash in your network path there, needs to start with a double-slash...

Still don't quite understand your new explanation, if you just want the drive letter behind the share just use the `Path` methods.

[code]

If you're looking to determine the underlying path of a mount, you need to make more P/Invokes again, this time [GetVolumePathName](https://msdn.microsoft.com/en-us/libr

[2015-08-08 16:58] albvar commented on #200
@brutaldev -> thanks once again - for some reason when I posted my comment it stripped out slashes. I am using the correct parameter. var shareInfo = Alphaleonis.Win32.Network.Host.GetShareInfo(@"\\myserver\myshare", true);

Regarding not understanding: I have a scenario where I have mounted volumes and the VolumeInfo wrapper doesn't seem to be mount aware. For a share that is on a mounted volume

[2015-08-09 18:51] Lupinho commented on #168
Yes it is - unfortunately. Same error occurres with latest build. I try to copy from a shadow copy asynchroneously (which is a write protecteted volume).

[2015-08-13 13:17] #200 closed, assigned to nobody

[2015-08-17 09:54] llindqvi opened #203 "Directory.GetDirectories and GetFiles return absolute paths when given relative argument"
The behavior of Alphaleonis.Win32.Filesystem.Directory.GetFiles and Alphaleonis.Win32.Filesystem.Directory.GetDirectories differ from their System.IO counterparts when supplying a relative path as argument. System.IO.Directory.GetFiles returns relative paths when given relative path and absolute paths when given absolute paths.  Alphaleonis.Win32.Filesystem.Directory.GetFiles returns always absolu

[2015-08-17 11:58] llindqvi opened #204 "Giving empty string to GetFileName and related methods throws exception"
In Alphaleonis.Win32.Filesystem.Path methods GetFileName, GetFileNameWithoutExtension and GetExtension behave differently than their System.IO counterparts when giving empty string as an argument. Note: GetDirectoryName behavior matches System.IO.

The following set of unit tests reproduce the issue.

[code]

[2015-08-17 13:01] Yomodo commented on #204
A `System.ArgumentException` is thrown, but only for `GetExtensionNullOrEmptyTest()` test.
The other 3 tests run fine, that is correct?

[2015-08-17 14:21] RockE70 opened #205 "Skipping Access Denied Exceptions C# WinForms"
Hi Yomodo

How would I go about skipping access denied exceptions with the following using AlphaFS? And do I actually have AlphaFS setup correctly in this code?

I did notice this query using PowerShell  https://github.com/alphaleonis/AlphaFS/issues/157 But I was unable to figure out how to apply it with C#

([Alphaleonis.Win32.Filesystem.DirectoryEnumerationOptions]'Folders, SkipReparsePoints, Co

[2015-08-18 06:26] llindqvi commented on #204
I was testing earlier against AlphaFS 2.0.1 release and three tests failed. Now checked against the head and indeed only GetExtensionNullOrEmptyTest fails anymore, so you are correct.

P.S. Thank you for making this library. Looks absolutely great!

[2015-08-19 13:07] llindqvi opened #206 "GetLastWriteTime throws exception for non-existing path"
Alphaleonis.Win32.Filesystem.File.GetLastWriteTime throws DirectoryNotFoundException or FileNotFoundException when given path to non-existing file. Its System.IO counterpart returns "12:00 midnight, January 1, 1601 A.D. (C.E.) Coordinated Universal Time (UTC), adjusted to local time" (from
https://msdn.microsoft.com/query/dev10.query?appId=Dev10IDEF1&l=EN-US&k=k(SYSTEM.IO.FILE.GETLASTWRITETIME);k(

[2015-08-20 07:45] thomaslevesque opened #207 "Roadmap?"
Hi,

I was wondering about the roadmap for AlphaFS ; is there a new release coming soon?. I see there are lots of changes since 2.0.1 (which was released 6 months ago), and there hasn't been any new release since then. Would it be possible to make more frequent maintenance releases to address known bugs? It would be really helpful. Right now if I need a bugfix for my app I need to build AlphaFS fr

[2015-08-20 14:12] brutaldev commented on #207
+1
I'm also performing custom builds and releasing 2.0.2 for my projects eagerly awaiting the official 2.1.

[2015-08-20 14:54] alphaleonis commented on #207
@Yomodo I haven't been following the recent development very closely (or at all). Where do we stand on the release-front? All check-ins since 2.0.1 seems to have been done in _develop_, meaning that these should be feature enhancements rather than bugfixes?  But apparently there must be bugfixes there as well, judging by the comments above? So where do we stand on releasing a 2.1 as of now?

[2015-08-21 08:35] Yomodo commented on #207
Focusing on 2.1, a lot of (reported) bugs have been fixed.
Only the unit tests have not been split yet.

I have only checked-in on the develop branch, did not do anything on the master branch.
So, as far as I'm concerned, I think we're good to go for a next release.

[2015-08-21 08:55] alphaleonis commented on #207
Alright. I'm a bit short on time at the moment, but perhaps we can get something released next week? (Or possibly on Sunday), if there are no more pending work-items that should be addressed before the 2.1 release?

[2015-08-21 11:38] Yomodo commented on #207
I will try to fix the remaining/open issues for the 2.1 release.

[2015-08-21 11:42] alphaleonis commented on #207
@Yomodo Great. Let me know if you need any assistance... A bit short on time as I said, but I'll try to help out where I can.

[2015-08-21 15:44] shdvr commented on #143
I use AlphaFS for inventorying entire hard drive contents and it makes dealing with long paths a breeze! Thank you for hard and diligent work in keeping it stable and the feature set complete!

[2015-08-21 21:41] thomaslevesque commented on #207
Thanks guys for your replies!

[2015-08-31 22:04] Lupinho opened #208 "File.EnumerateHardlinks() does not work for UNC-Paths"
There is a problem in File.EnumerateHardliinks, when passing an UNC-Path (or even a network mapped path). I get an error "The system call level is not correct.". Even, if the network path does not support enumerating hardlinks - is this the right result?

[2015-09-02 07:10] sjsavola opened #209 "FileStream's Name property doesn't return the path passed to the constructor"
The second assert fails when the following test is executed:

[code]

[2015-09-03 21:49] Lupinho opened #210 "Could not delete Junction"
I try to delete a junction point. This gives me an error "wrong parameter". I guess, the reparse point data should be removed first; but this should be done by Directory.Delete transparently?!

[2015-09-11 16:10] sonypsx opened #211 "Using AlphaFS in VB.net with Long Filenames"
Hello,

just found your wonderful gold nugget AlphaFS. The Description and Documentation sounds awesome. But i got stuck by a "simple" file move operation. Language used: VB.net (2013)

I tried the following:
Alphaleonis.Win32.Filesystem.File.Move("c:\x\test1.txt", "c:\x\test2.txt")

Which works flawless, right after that i tried:

Alphaleonis.Win32.Filesystem.File.Move("c:\x\test2.txt", "c:\x\012

[2015-09-14 08:29] alphaleonis commented on #211
The maximum length of an individual component in a path is 255 characters if I remember correctly. The post at http://stackoverflow.com/questions/265769/maximum-filename-length-in-ntfs-windows-xp-and-windows-vista seems to verify this.

[2015-09-15 15:28] CyberSinh opened #212 "Provide a way to retrieve errors when you choose to ContinueOnException"
Hi,

Congratulations for you great library I use in my sync software: Echosync.

`DirectoryEnumerationOptions.ContinueOnException` is a great option but it would be great also to have a way to retrieve errors happened during the enumeration.

What do you think about this idea?

Thanks again.

Regards,

Cyber Sinh

[2015-09-15 17:47] sonypsx commented on #211
THAT was the point "EACH individual component"  i tought i could archived 1000 characters long filenames only - without the path of course. So i'm stuck with that limitation on NTFS.
Thanks for confirmation!

[2015-09-15 17:52] alphaleonis commented on #211
You're welcome!

[2015-09-15 17:52] #211 closed, assigned to nobody

[2015-10-02 09:46] Yomodo commented on #207
@thomaslevesque I apologize for not keeping my word.
Will get back to this, ASAP.

[2015-10-24 13:36] NoMoreFood commented on #207
Good to see there's some activity on this project.  Eagerly awaiting the next release :-)

[2015-10-29 01:23] ArsenShnurkov opened #213 "How to build this on mono for linux?"
Some project depend on this library, so I need to build it too.
Which standard describe "Long UNC" names?
Which parts of code should be excluded during linux build?

I know that "it is not supported on linux", "it is windows dependent", "there is no way to do that".

I need a way to build it (exact advices on codeblocks which should be removed or replaced)

[2015-10-29 01:28] ArsenShnurkov commented on #213
https://msdn.microsoft.com/en-us/library/gg465305.aspx

https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx#maxpath

"To specify an extended-length path, use the "\\?\" prefix. For example, "\\?\D:\very long path""

"The maximum path of 32,767 characters is approximate, because the "

[2015-10-29 06:39] brutaldev commented on #213
Without having to create a Mono build of AplhaFS (which would be an enormous task), you could use processor directives in your own code to either use AplhaFS or the standard System.IO classes by compiling in the correct using statement.

[code]

Mono's implementation of System.IO supports long paths when running in Linux so the standard libs already work there.

You would obviously not be able to

[2015-11-22 15:49] bjoe2k4 opened #214 "Howto Get-Filehash"
Hi,

i am trying to replace the following command with an AlphaFS analogue:

`$chash = (gi -LiteralPath "$fullpathfilename" -force | get-filehash).Hash`

Is that even possible?

Regards

[2015-11-26 15:40] Yomodo commented on #214
Unfortunately, AlphaFS does not support this.

[2015-11-28 23:26] bjoe2k4 commented on #214
Thanks, then i will have to look out for something else.

[2015-12-28 11:55] Zuldan commented on #212
Great suggestion, I need this feature as well.

[2015-12-28 12:03] Zuldan opened #215 "Howto - Set file attribute"
I've written a PowerShell script that uses AlphaFS to search for files with a temporary attribute. Most of these files exist in directories with paths longer than 260 chars. I'm not exactly sure how to get AlphaFS to remove the temporary attribute for files in very long paths. I'm guessing I have to use "ExtendedFileAttributes" in some way. I would be most grateful for any tips on how to do this.

[2016-01-03 03:21] Zuldan commented on #215
Silly me, I was looking in the wrong section of the API doco.

Add Temporary

Remove Temporary

[2016-01-11 11:52] Alvalvar commented on #157
Thank you Yomodo! Function "Invoke-GenericMethod" worked well in folders where access is denied. But i don`t know in what catalog in directory access is denied... How i can get exception "access denied in $Path" and continue enumerate directory?

[2016-01-11 16:09] Yomodo commented on #157
Hi! Unfortunately, _ContinueOnException_ currently does not keep track of encountered Exceptions. They are simply ignored.  Reporting Exceptions will hopefully be added in a future release.

[2016-01-21 16:38] warrenlbrown opened #216 "Directory.Exists returns false if dirspec is long and root, such as \\?\c:\"
If the spec is c:\ it returns true.

[2016-01-29 13:12] pinocchio85 opened #217 "File.Replace() raises an exception"
The "Find.Replace()" method raises an "ArgumentNullException" when you pass null to the "destinationBackupFileName" parameter, e.g.:

`File.Replace(@"D:\Test1.txt", @"D:\Test2.txt", null);`

According to the documentation, you can pass null to the destinationBackupFileName parameter if you do not want to create a backup of the file being replaced.

[2016-02-01 09:42] dpfl commented on #168
I have the same issue and can replicate it like this
`new FileInfo(@"textfile.txt").Open(FileMode.Append, FileAccess.Write, FileShare.ReadWrite);`
I am on v2.0.1

[2016-02-01 11:17] Lupinho opened #218 "Volume.GetVolumeInfo() fails for global root paths"
If you call Volume.getVolumeInfo() with a global root volume path (e.g. a shadow copy path) the call fails with an ArgumentException.

[2016-02-04 11:31] dpfl opened #219 "Mismatching Implementation to System.IO.Path.GetDirectoryName"
In System.IO
`Path.GetDirectoryName("dir1/dir2/dir3/")` returns -> **dir1\dir2\dir3**
In AlphaFs
`Path.GetDirectoryName("dir1/dir2/dir3/")` returns -> **dir1/dir2/dir3**

Notice the difference in forward/back slashes

[2016-02-05 09:00] mcschorr opened #220 "DirectoryInfo not working with junctions/reparse points"
Hello,

If I try to access the folders of a NTFS junction/reparse points like:

\??\Volume{17426ae7-0000-0000-0000-100000000000}\

which is mapped to "C:\folder", an exception is thrown that it can't find the folder in the OS.

For example:

[code]

Method "GetDirectories()" throws the exception -> Can't find folder!

Is it possible to work with junctions with AlphaFS or is this an issue?

Hope yo

[2016-02-05 09:15] mikequinlan commented on #148
This is FYI in case it helps...

I am getting a failed tests in Move (AlphaFS.UnitTest.dll!AlphaFS.UnitTest.FileTest.Move() Line 2546). The message says that the LastError should be 5 but is 183.

In file File.CopyMove.cs beginning at line 1115. NativeMethods.MoveFIleWithProgress is called and it returns a non-zero value (error). Marshal.GetLastWin32Error() returns 183 ERROR_ALREADY_EXISTS. The co

[2016-02-05 19:48] tintop2k opened #221 "AlphaFS or System.Native.IO? Also, trailing directory space woes."
Hi.

When searching for AlphaFS in nuget (https://www.nuget.org/packages?q=alphafs), the results come back with AlphaFS published Feb 2015 on version 2.0.1 and System.Native.IO published Mar 2015 on version 2.1.0.1

The same Authours are listed for both projects.

Which is the best version to use?

I'm currently having issues with exceptions thrown by both projects when passing a path to Directory

[2016-02-05 20:48] tintop2k commented on #221
After a bit of poking around in the documentation...

[code]

[2016-02-06 09:26] Yomodo commented on #221
Hi, thanks for using AlphaFS. It seems System.Native.IO is a copy of AlphaFS but just with a different namespace.

For a number of methods from the File and Diretory class, there are overloaded methods that accept an AlphaFS "PathFormat".  I believe some Directory unit-tests contain some examples.

We have full documentation: http://alphafs.alphaleonis.com/doc/2.0/api/html/5E9EE47E.htm

[2016-02-06 11:22] tintop2k commented on #221
Ahh. That LongFullPath looks like it might help as it says no additional processing will be done on the path. Thanks, I'll check it and let you know how I get on.

Many thanks

[2016-02-07 15:01] tintop2k commented on #221
Well I'm kind of there. I was using a call to`Directory.EnumerateDirectories(path)` to walk the tree by returning a list of directories, but as I can't see a way of having that always return Long directories I've switched it to a `DirectoryInfo(longPath, Alphaleonis.Win32.Filesystem.PathFormat.LongFullPath).EnumerateDirectories().Select(Function(x) x.EntryInfo.LongFullPath).ToList` call. The outpu

[2016-02-07 15:21] tintop2k commented on #221
OK. It looks like it's possible to code round it by calling GetLongPath on each returned Directory

[code]

[2016-02-07 16:38] Yomodo commented on #221
Hm.. I think this method may serve you better: `Directory.EnumerateFileSystemEntryInfos<T> Method (String, String, DirectoryEnumerationOptions, PathFormat)`

http://alphafs.alphaleonis.com/doc/2.0/api/html/1FB8F84E.htm

Make sure the return type is: `FileSystemEntryInfo` and then access its `LongFullPath` property. It should get you the same results without the additional GetLongPath() calls.

Fil

[2016-02-08 13:13] tintop2k commented on #221
Hey. Thanks for all your help.

I read up on the `Directory.EnumerateFileSystemEntryInfos` and noticed that if it's returning Strings rather than `FileSystemEntryInfo`then you can pass the `DirectoryEnumerationOptions.AsLongPath` to force all returned Strings into the long format. This seems the best approach?

For anyone interested, this is what I ended up with to return all Directory strings (as

[2016-02-08 14:19] Yomodo commented on #221
My mistake, `Directory.EnumerateFileSystemEntryInfos<T>` is _not_ in the current version 2.0.1.

[2016-02-09 10:14] mikequinlan opened #222 "ReFS Directory.Compress"
I've begun testing AlphaFS on a ReFS (https://msdn.microsoft.com/en-us/library/windows/desktop/hh848060(v=vs.85).aspx) volume on Windows 10.

The test AlphaFS_Compress fails because ReFS doesn't support compression. When Directory.Compress is called for a folder on a ReFS volume it throws an IO Exception, which should be the expected response. The test instead expects the compress file attribute t

[2016-02-09 11:53] Yomodo commented on #222
Thanks for reporting. Unit tests are still one of our "issues" to resolve.

[2016-02-09 13:12] Yomodo commented on #218
Could you please specify the/a path that you use?

[2016-02-09 14:00] Lupinho commented on #218
You can take any shadow-copy path (as said above). I can't tell you a valid shadow copy path on your machine... E.g.: type "vssadmin list shadows" in a administrative console, this lists all shadow copies on your machine. Then you can take this path and pass it to VolumeInfo. On my machine "\?\GLOBALROOT\Device\HarddiskVolumeShadowCopy37" is a valid shadow copy.
A call to Volume.GetVolumeInfo("\?\

[2016-02-12 10:40] Yomodo commented on #220
Hi, do you also get an exception when using DirectoryInfo from System.IO ?

[2016-03-14 13:14] CyberSinh commented on #207
@Yomodo @alphaleonis Can we expect a new release of AlphaFS (2.1) soon ? Thanks.

[2016-03-15 12:45] Yomodo commented on #207
Hi, kind hard to say..
There are still some bugs to fix but at the moment, and I, **unfortunately**, have little time at the moment for AlphaFS.

[2016-04-26 17:20] mgaruccio opened #223 "issue with copy() methods and relative paths (powershell)"
When using the Alphaleonis.win32.filesystem.directory.copy() method and a relative path the path is calculated based on where the host was launched from rather than the scripts current working directory.   So if the powershell console is opened by itself and initially loads to c:\windows\system32 every time a relative path is used it will be calculated relative to c:\windows\system32, regardless o

[2016-04-28 01:00] AlexLaroche opened #224 "Bug : DACL returned by Directory.GetAccessControl(path);"
GetAccessRules() isn't return the good FileSystemRights value.

In the exemple below, the function return "Read and Execute" where the good filesystem right is  "List folder content".

P.S.: Sorry, for the french screen capture.

[code]

![execution](https://cloud.githubusercontent.com/assets/5282389/14872487/c4010e46-0cba-11e6-9647-52d205a4746a.png)

![ntfsexplorer](https://cloud.githubuserconten

[2016-05-25 21:03] cosinekitty opened #225 "Question mark '?' character in remote UNC Mac path causes ArgumentException in Path.GetLongFrom83ShortPath"
AlphaFS has been hugely useful to me in getting around the severe problems with path length limits in .NET. Thank you!  I did run into this problem, however. Running my code on Windows, I have a network share that refers to a Macintosh.  Mac-OS apparently allows question mark characters ('?') in its filenames.  Essentially my code is getting an ArgumentException when it does the following:

[code]

[2016-05-28 23:22] Yomodo commented on #225
Hi, unfortunately, the '?' character is not allowed on Windows in filenames, paths.
Relaxing the rules is not an option as this would divert from the .NET rules.

So in short, there is no solution for this.

[2016-05-29 15:37] cosinekitty commented on #225
OK. For the sake of anyone else who is curious, I did an experiment whose outcome was interesting. On my Debian Linux machine I created a Samba share. Inside the shared directory, I created a file called `qmark?.txt`. When I look at that shared folder from my Windows machine I see:

[code]

Any attempt to open the file using its original name fails:

[code]

I'm in a difficult position because my

[2016-05-31 12:10] Yomodo commented on #225
Perhaps this can be of some help:

1) Use method: **Directory.EnumerateFileSystemEntryInfos()** to enumerate all folders and files.
See docs: http://alphafs.alphaleonis.com/doc/2.0/api/html/14D29A7D.htm

2) Make sure the returned type is of instance type: **FileSystemEntryInfo**
Perhaps one of the properties may contain something useful for you to use, as in correlating info.
(I'm thinking of prop

[2016-06-07 12:32] aartatimago opened #226 "DirectoryInfo using searchoption"
Hello,
I ran into problems with a too long full path name, and then I discovered this project.
So I'm testing it and it looks like that I have ran into a slight problem.

long lnFileSize = new DirecoryInfo(psDir).GetFiles("*.ps", System.IO.SearchOption.TopDirectoryOnly).Sum(file => file.Length);

In a directory it also counts the files with a extension ".eps", when I use the standard system.io lib

[2016-06-15 01:06] rstarkov commented on #210
In fact, Directory.Delete tries to do this transparently, and it's _that_ which fails. Commenting out the error check after `Volume.DeleteVolumeMountPointCore` makes junction deletes work correctly (at least in the simple case).

[2016-07-01 22:10] ghost opened #227 "file.copy"
Attempting to copy a long path from a local drive to a network mapped drive. Getting this:
System.NotSupportedException: The given path's format is not supported
Same thing happens with URL.

Using 2 string variables, the contents of which are:
C:\shared\Siteworks\Users Shared Folders\Project Management\Project Files 2008\Project Files 2008\Mclaughlin. Kentfield\Proposal # 1913 Revision # 1 Chuck

[2016-07-02 00:20] ghost commented on #227
This is a simple file.copy(src, dest).
Doesn't matter if it is overwrite or append.
File does not exist in dest.
vb.net 2015

[2016-07-02 23:37] mikequinlan commented on #227
I was curious so I ran a test and "it works for me". What version of AlphaFS are you using? Also, I notice that one of your directory names has an extension that begins with a space character -- "\Mclaughlin. Kentfield\" has a blank after the period which might cause problems.

[2016-07-03 16:29] ghost commented on #227
Using version 2.0.1.0
Not in control of what users name files and folders, unfortunately.

[2016-07-03 17:18] mikequinlan commented on #227
I've attached my test project. It attempts (successfully on my system) to copy a file with that file name.

I copy it to 4 different destinations to see if the destination file system had any effect -- C: uses the NTFS file system, E: uses ReFS, F: uses Fat32, and Y: is a network drive using the Parallels file system (HFS+). This is running on Windows 10 64-bit version 1607 (the most recent Previe

[2016-07-03 21:50] Yomodo commented on #227
.NET usually has an issue with spaces in paths. To get around this, try the `File.Copy()` overload that supports the [PathFormat](http://alphafs.alphaleonis.com/doc/2.0/api/html/C8D14B27.htm).**LongFullPath** as this will skip path validation.

[2016-07-03 21:53] Yomodo commented on #226
The search filter used is not a comprehensive implementation, which unfortunately can result in false positives.

[2016-07-03 21:56] Yomodo commented on #222
Question: Does ReFS also suffer from PathTooLong?

[2016-07-03 23:30] mikequinlan commented on #222
Yomodo -- the PathTooLong error is from Windows, not the file system. NTFS and ReFS both support long paths but the WIndows API doesn't (that is how AlphaFS works).

There might be a glimmer of hope on the horizon though. A number of sites have reported a new setting in the latest Windows 10 builds that lets applications support long paths. [Microsoft Removes 260-Character Path Length Limit](https

[2016-07-05 18:02] ghost commented on #227
Back at it after being away, but still no joy.
Here is a snippet of the code in question:

[code]

[2016-07-05 18:27] ghost commented on #227
I tried manually putting the path in code, from copying the path and filename from explorer, and it still acts like it can't find the source file.

[2016-07-05 20:08] Yomodo commented on #227
I don't think you can change (truncate) the original path and expect it to get it working.

[2016-07-05 20:24] ghost commented on #227
If you take another look, you will see I am stripping "C:\shared\Siteworks" off the original path and replacing it with "Q:\siteworks", and assigning that to the destination path.  The original input doesn't change.

[2016-07-05 23:14] mikequinlan commented on #227
You say you are stripping "C:\shared\Siteworks" off the original path but
that is not quite true. You are removing the first 21 characters from the
original path (trunc.Remove(0, 21)) but "C:\shared\Siteworks" is only 19
characters long. In other words you are changing

C:\shared\Siteworks\Users Shared Folders\Project Management\Project Files
2008\Project Files 2008\Mclaughlin. Kentfield\Proposal

[2016-07-05 23:22] ghost commented on #227
Not quite so.  There is a leading space in the list I'm taking from.  I corrected that and now use a trim() command to make sure I'm not dealing with leading or trailing spaces, but I get the same result.

Funny thing is if I cd to the path in a CMD prompt and try to copy that file to c:\test, even using wildcard (e.g. copy p*.pdf c:\test) I get "path not found.".  Dir *.pdf does show the file.

[2016-07-06 07:45] Yomodo commented on #227
Up until .NET 3.5. it was possible to create files/folders with a space in the name. Starting with .NET 4+ this is not possibly any more. All other characters seem to be valid characters, so that makes it a bit hard what exactly is causing the NotSupportedException.  Does this exception also happen when using System.IO or doesn't it get that far because of... PathTooLong ?

[2016-07-06 18:51] ghost commented on #227
ssystem.io gives PathTooLong exception.
Thing is, I have about 1600 files that can't be copied like this.  I've looked for commonality and found none, except for spaces in path and filename, plus they all exceed 260 chars.   All of them were copied to this server by Robocopy.

[2016-07-06 20:57] ghost commented on #227
What makes this even more mysterious is that the list of files is generated by code using AlphaFS to get the dateTime and file name on the source server, then the complete list is passed to the target server.  The target server then goes through the files it has on hand.  Any that are found to be out of date, or do not exist are written to this list.  The source server picks up this trimmed down l

[2016-07-07 00:42] ghost commented on #227
I have simplified it down to the following.  Note that if the file.exists() fails, the Try would never execute, but it does, and the file.copy() fails.

If file.exists() can find the file, something is wrong, and it isn't a path or filename problem.

Imports Alphaleonis

Public Class Form1
    Private Sub Form1_Load(sender As Object, e As EventArgs) Handles MyBase.Load

[code]

End Class

[2016-07-07 19:11] albvar opened #228 "Question: Why does Alphaleonis.Win32.Filesystem.File.GetSize throws Win32.NativeError File being used by another process"
Using version 2.1.0.0 - thanks in advance for your help.

 Alphaleonis.Win32.NativeError.ThrowException(UInt32 errorCode, String readPath, String writePath)
Message:
"(32) The process cannot access the file because it is being used by another process: [\\?\UNC\myServer\myShare\myFolder\myFile.myExtention]"

This file is indeed being used by another program. I did a little bit of reading on this (c

[2016-07-08 03:05] ghost commented on #227
actually the above gives a slightly different error, but I don't understand how file.exists() can find the file, but file.copy() can't.  The literal value is the same for both. Even File.GetLastWriteTime() succeeds in reading the correct datetime.
{"(3) The system cannot find the path specified: [C:\shared\Siteworks\Users Shared Folders\Project Management\Project Files 2008\Project Files 2008\Mcla

[2016-07-10 20:12] ghost commented on #227
You don't seem to care, but I thought I should share this for anybody looking for the answer.  This solved the problem for me:
https://support.microsoft.com/en-us/kb/2891362
Thanks.

[2016-07-10 20:12] #227 closed, assigned to nobody

[2016-07-10 22:43] Yomodo commented on #227
Thank you for the solution!

On a side note: I've spent massive amounts of hours on AlphaFS, based on free will and enthusiasm.
I'm sorry you feel this way.

[2016-07-11 13:53] mikequinlan opened #229 ".NET 4.6.2 now directly supports paths with the \\?\ prefix"
https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/21/more-on-new-net-path-handling/

I've run a simple test and it seems to work. I haven't tested anything complex though.

This is great news and I am posting this just as an fyi.

[Test3.zip](https://github.com/alphaleonis/AlphaFS/files/357213/Test3.zip)

[2016-07-11 13:53] #229 closed, assigned to nobody

[2016-07-11 14:09] mikequinlan commented on #222
Yomodo --

.NET 4.6.2 now supports paths that begin with the //?/ prefix.

https://blogs.msdn.microsoft.com/jeremykuhne/2016/06/21/more-on-new-net-path-handling/

I've run a simple test and it seems to work. I haven't tested anything complex though.

[2016-07-12 08:21] Yomodo commented on #222
Thank you for reporting! Yeah.. that was bound to happen of course.

[2016-07-19 15:01] Yomodo opened #230 "Nice animation: Evolution of AlphaFS (Gource Visualization)"
https://www.youtube.com/watch?v=HPjAwfkF3r8&index=48&list=LL6HfiE9VRG2BxLw6ae6Y8eg

[2016-07-20 17:01] alphaleonis commented on #230
Hehe, nice! :)

[2016-07-26 22:47] boxingsurfer commented on #215
hello friend

can you explain a bit more about where the API docs contain this info
I cant find any reference on specific ways to add temporary or remove temporary attributes

help appreciated

[2016-07-27 10:47] Yomodo commented on #215
Hi, I think this one might do it:
http://stackoverflow.com/questions/7399611/how-to-remove-a-single-attribute-e-g-readonly-from-a-file

[2016-07-27 17:59] boxingsurfer commented on #215
yes I came across that one myself but the original post seemed to imply some methods within AlphFS for doing it. The example provided isn't easy to translate into powershell

I solved this myself by using the following techniques. I will give examples:

**Check the existence of specific attribute bits using BAND logic:**
- get attributes of a file ($file contains the full file path):
  `$attr = [A

[2016-08-16 14:42] Yomodo commented on #217
@pinocchio85 It think the issue has been resolved. Care to test it?

[2016-08-16 14:45] #221 closed, assigned to nobody

[2016-08-16 18:05] Yomodo commented on #226
From the looks of it, [this ](https://github.com/exocad/exoAlphaFS/issues/1) will be implemented.

[2016-08-16 18:11] #215 closed, assigned to nobody

[2016-08-16 18:13] #187 closed, assigned to nobody

[2016-08-16 20:17] #217 closed, assigned to Yomodo

[2016-08-16 20:17] #226 closed, assigned to Yomodo

[2016-08-16 21:29] #219 closed, assigned to Yomodo

[2016-08-17 00:16] Yomodo commented on #209
It seems that this cannot be fixed. Instead of the full path of the file, the text: [Unknown]  is returned.
Since this text is not inserted by AlphaFS, it must come from the Win32API.

As a workaround (to get the full path), you can use this: `Path.GetFinalPathNameByHandle(fileStream.SafeFileHandle)`

[2016-08-17 00:16] #209 closed, assigned to Yomodo

[2016-08-17 01:04] #204 closed, assigned to Yomodo

[2016-08-17 02:20] #203 closed, assigned to Yomodo

[2016-08-17 02:23] #213 closed, assigned to nobody

[2016-08-17 02:28] #225 closed, assigned to nobody

[2016-08-17 08:14] krismaz opened #234 "CheckInvalidPathChars breaks IsPathRooted for whitespace strings"
CheckInvalidPathChars throws an error when provided with the empty string, or strings containing only whitespace.

IsPathRooted uses this to check for invalid characters, and thus breaks when the input is one of these strings, when the correct behaviour would be to return false. Note that certain special characters should still be disallowed to match System.IO behaviour for e.g. "\t \n".

I first

[2016-08-17 10:51] Yomodo commented on #234
@krismaz Could you please verify it is ok now?
Should be fixed with commit: 72688273083d5a6a453fda147b79332601a0f296

[2016-08-17 11:04] krismaz commented on #234
7268827 appears to have resolved the issue :+1:

[2016-08-17 11:16] #234 closed, assigned to Yomodo

[2016-08-17 13:14] #206 closed, assigned to Yomodo

[2016-08-17 13:22] Yomodo opened #235 "Implement unicode versions of methods: CM_Connect_Machine and CM_Get_Device_ID_Ex."

[2016-08-17 13:25] #235 closed, assigned to Yomodo

[2016-08-17 14:38] #157 closed, assigned to nobody

[2016-08-17 14:52] Yomodo commented on #216
With the latest develop build:

`False: Console.WriteLine(System.IO.Directory.Exists(@"\\?\c:\"));`
`False: Console.WriteLine(Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\"));`

`True: Console.WriteLine(System.IO.Directory.Exists(@"c:\"));`
`True: Console.WriteLine(Alphaleonis.Win32.Filesystem.Directory.Exists(@"c:\"));`

[2016-08-17 14:52] #216 closed, assigned to Yomodo

[2016-08-17 16:06] mgaruccio commented on #223
Looks like I'm still having the same issue after upgrading to 2.1.0
![capture](https://cloud.githubusercontent.com/assets/3801085/17743766/eebe4fd0-6472-11e6-8f07-fc7d27a58f2d.PNG)

Is there anything else I can do to assist?

[2016-08-17 16:16] Yomodo commented on #223
Thanks, testing it on your end is already enough assisting.

Too bad it's not fixed yet. Back to the drawing board.

[2016-08-17 22:19] #218 closed, assigned to Yomodo

[2016-08-17 23:17] Yomodo commented on #223
A PowerShell workaround would be to manually set the current directory:
`[Environment]::CurrentDirectory = "D:\Scripts"`

It seems that when using the `CD` or `Set-Location` command, the `[Environment]::CurrentDirectory` (of the PowerShell _process_) is not updated.

From the looks of it, this cannot be fixed from AlphaFS; the best practice is to use fully-qualified path names.
You can also use th

[2016-08-18 01:33] Yomodo commented on #224
@AlexLaroche Could you compare with System.IO to see if there's a difference?

[2016-08-18 02:41] AlexLaroche commented on #224
I have understand the problem. If you check the "inheranceFlags" on the screencapture, you will that is at "containerInherit". The "ReadAndExecute" permission with "containerInherit" is equivalent of the permission "List folder content". Thanks for your help.

[2016-08-18 02:41] #224 closed, assigned to nobody

[2016-08-18 15:55] warrenlbrown opened #236 "Issue #216 has been closed prematurely. The problem still exists in latest code."
Issue #216 has been closed prematurely. The problem still exists in latest code. The tests did not reflect the actual problem. Ergo, let me clarify a bit more:

`Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\temp\");  returns TRUE`
`Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\");  returns FALSE`

Thank you very much.

[2016-08-22 15:20] noppGithub opened #237 "How to use AlphaFS to make list of long path files with creationdate"
I heard that AlphaFS can list the file with over 260 characters path length,
I i'm now learning to this AlphaFS, but not sure if I can use it correctly.

Can someone guide me how to get the list of FullName with CreationDate on long path files using AlphaFS ?

I'm also get this error during install(even Unblock is checked).

[code]

Thanks alot.

[2016-08-23 10:48] M4ssiveDynamic opened #238 "Retrieving owner and LastWriteTime of files with specific extension"
I'm trying to retrieve all files from all my harddrives with the exe and html extension, plus the file owner and LastWriteTime. I first tried to retrieve all HDD ID's, store them in an array, loop through it with foreach and insert the variable instead of the Get-Location command, but I always got an error (illegal character \* used). That's why I'm executing the code below for every hard drive in

[2016-08-24 09:39] Yomodo commented on #237
What version of .NET is installed/are you using?
Check it using this:

[code]

[2016-08-24 09:46] Yomodo commented on #237
[DirectoryInfo.EnumerateFiles](https://msdn.microsoft.com/en-us/library/dd413232%28v=vs.110%29.aspx)

[File.GetCreationTime](https://msdn.microsoft.com/en-us/library/system.io.file.getcreationtime%28v=vs.110%29.aspx)

Replace `System.IO.File` (.NET) with `Alphaleonis.Win32.Filesystem.File`
Also take a look at the unit tests to see how things are done.

[2016-08-24 10:06] Yomodo commented on #238
This works on my system:
`[Alphaleonis.Win32.Filesystem.Directory]::GetFiles("$((Get-Location).Path)", '*.exe')`
`[Alphaleonis.Win32.Filesystem.Directory]::GetFiles('C:\Users\ikke\Downloads', '*.exe')`

Check the [FileSystemInfo.LastWriteTime](https://msdn.microsoft.com/en-us/library/system.io.filesysteminfo.lastwritetime%28v=vs.110%29.aspx) properties and [File.GetAccessControl](https://msdn.micr

[2016-08-24 10:22] noppGithub commented on #237
@Yomodo THank you so much, now i can use AlphaFS to list file over 260 characters. Is there any method to get permission of each files (recursive) under specified directory using AlphaFS ?

[2016-08-24 11:10] Yomodo commented on #237
With [File.GetAccessControl](https://msdn.microsoft.com/en-us/library/8e1fc3b8%28v=vs.110%29.aspx) you can get the security information.
You can use a `for/each` loop using [Directory.EnumerateFiles](https://msdn.microsoft.com/en-us/library/dd383571%28v=vs.110%29.aspx) with `SearchOption.AllDirectories` to go recursive.

[2016-08-24 11:10] #237 closed, assigned to Yomodo

[2016-08-24 15:31] Yomodo commented on #236
These are the current AlphaFS (2.1.0.0) results:

[code]

Upon investigation System.IO internally throws a `System.ArgumentException: Illegal characters in path` when encountering the long path notation: \\?\, returning `False` as a result, even if the folder exists.

AlphaFS will only return `False` if the folder does not exists.

Although AlphaFS should mirror System.IO as closely as possible, t

[2016-08-24 15:54] #223 closed, assigned to Yomodo

[2016-08-24 15:58] #236 closed, assigned to Yomodo

[2016-08-25 10:48] Yomodo commented on #228
The `System.IO.IOException` is thrown because somewhere down the road the Win32 API `CreateFile()` is called to open the file.

The file however gets locked because of the share mode: `None`.
If you change the last parameter from `None` to `Read`, `File.GetSize()` will be able to read the file size without throwing an `System.IO.IOException`.

[2016-08-25 10:48] #228 closed, assigned to nobody

[2016-08-25 10:52] #238 closed, assigned to Yomodo

[2016-08-25 14:17] #222 closed, assigned to nobody

[2016-08-25 16:30] Yomodo commented on #220
Unfortunately I can not replicate this error.

[2016-08-25 16:30] #220 closed, assigned to nobody

[2016-08-25 16:42] Yomodo commented on #210
With the current development build (2.1.0.0) I'm not able to replicate this error.
Here's what I did:

`C:\>md Test`
`C:\>mountvol.exe C:\test \\?\Volume{471843fd-0000-0000-0000-501f00000000}\`

And finally remove the folder: `Alphaleonis.Win32.Filesystem.Directory.Delete(@"C:\Test");`
No errors/exceptions, am I missing something?

[2016-08-25 17:48] Yomodo commented on #208
Correct; enumerating hard links does **not** work with UNC paths.

[2016-08-25 17:48] #208 closed, assigned to nobody

[2016-08-25 23:50] Yomodo opened #239 "Enable long path support for CreateSymbolicLink() source parameter."
Parameter `symlinkFileName` of method `File.CreateSymbolicLinkCore()` is converted into a regular path.
Disable regular path conversion for this parameter, to enable long path support.

[2016-08-26 00:04] #239 closed, assigned to Yomodo

[2016-08-26 16:16] Yomodo opened #240 "Add KeepDotOrSpace to GetFullPathOptions enum."
Add `KeepDotOrSpace` to `GetFullPathOptions` enum.

Normally Path.GetFullPath() strips away trailing dot/space, `KeepDotOrSpace` should prevent that.

[2016-08-26 16:17] Yomodo opened #241 "Add Path.GetFullPath() overload that supports GetFullPathOptions enum."
This overload can be used to preserve a trailing dot or space in a path.

[2016-08-28 14:50] #240 closed, assigned to Yomodo

[2016-08-28 14:50] #241 closed, assigned to Yomodo

[2016-08-28 20:55] Yomodo opened #242 "File.Open(file, System.IO.FileMode.Append) does not append."
File.Open(file, System.IO.FileMode.Append) does not append but overwrites the (contents of) current file.

[2016-08-28 20:58] Yomodo commented on #242
Fixed with commit 2d98bc3

[2016-08-28 20:58] #242 closed, assigned to Yomodo

[2016-08-28 20:59] Yomodo commented on #168
@Lupinho @dpfl Could you please test again with the latest development build?

[2016-08-29 15:14] warrenlbrown opened #243 "Issue #236 has been closed prematurely. The problem still exists in latest code."
Thank you for your quick responses, but I believe there is still a problem. I will try to re-re-clarify the situation again (sorry, but I'm having trouble with the double backslash display in preview mode, so please edit the comment to see the original syntax):

`// c:\temp handling is ok. Both libs return TRUE
System.IO.Directory.Exists(@"c:\temp\"); returns TRUE
Alphaleonis.Win32.Filesystem.Dire

[2016-08-29 15:27] Yomodo commented on #243
(4 backslashes will create 2 backslashes)
Have you tested this with the latest development build?

[2016-08-29 15:28] warrenlbrown commented on #243
I did with the latest build when I submitted #236. But I’ll test again with the latest latest. Thanks.

[2016-08-29 15:34] Yomodo commented on #243
With the latest dev build, this is what I get:

// False
`Console.WriteLine(System.IO.Directory.Exists(@"\\?\c:\"));`

// False
`Console.WriteLine(Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\"));`

// True
`Console.WriteLine(System.IO.Directory.Exists(@"c:\"));`

// True
`Console.WriteLine(Alphaleonis.Win32.Filesystem.Directory.Exists(@"c:\"));`

[2016-08-29 15:40] warrenlbrown commented on #243
The latest, latest, latest code now seems to fix the problem. Many thanks.

[2016-08-29 15:44] #243 closed, assigned to nobody

[2016-08-31 12:15] Yomodo opened #244 "File.Copy(src, dst, true) does not respect FILE_ATTRIBUTE_READONLY."
Thus the destination file is always overwritten.
Behaviour should be as System.IO: throw `UnauthorizedAccessException`.

[2016-08-31 15:27] #244 closed, assigned to Yomodo

[2016-08-31 22:14] Yomodo opened #245 "Implement CRC-32/64"
Implements code to create a CRC-32 or CRC-64

We have permission to integrate the code located here:
https://github.com/damieng/DamienGKit/tree/master/CSharp/DamienG.Library/Security/Cryptography

[2016-09-01 13:45] Yomodo opened #246 "Using Directory.EnumerateFileSystemEntries() recursively with a relative path may fail."
When enumerating recursively from a relative path, an exception may be thrown:

[code]

Due to: #203

[2016-09-02 16:04] #214 closed, assigned to Yomodo

[2016-09-02 16:04] #245 closed, assigned to Yomodo

[2016-09-02 16:04] #246 closed, assigned to Yomodo

[2016-09-02 17:07] bjoe2k4 commented on #214
Thanks! Looking forward to see v2.1 soon!

[2016-09-02 17:14] Yomodo commented on #214
You know you can already download the develop version. compile and use that, right?

[2016-09-02 18:20] bjoe2k4 commented on #214
Right, just installed 8GB of Windows Compiler (MS VS2015 CE) to compile a 256K dll. Will test new features tomorrow :-)

[2016-09-02 23:50] Yomodo commented on #168
I can not replicate/confirm the issue.

[2016-09-02 23:50] #168 closed, assigned to Yomodo

[2016-09-02 23:51] #210 closed, assigned to nobody

[2016-09-02 23:53] Yomodo commented on #172
@meccoro Could you try again with our latest develop build to see if the issue is still present?

[2016-09-04 17:59] Yomodo opened #247 "Add FileInfo.GetHash()"

[2016-09-04 22:16] #247 closed, assigned to Yomodo

[2016-09-05 12:09] Yomodo commented on #158
I've played with this and could notice a performance increase in my app.
I've noticed no side effects, so it sounds safe to implement.

[2016-09-05 14:37] #158 closed, assigned to Yomodo

[2016-09-05 22:35] Yomodo commented on #205
Already answered in #157

[2016-09-05 22:35] #205 closed, assigned to nobody

[2016-09-07 12:40] Yomodo opened #248 "Directory.Move() throws FileNotFoundException instead of DirectoryNotFoundException when source folder doesn't exist."

[2016-09-07 14:03] Yomodo opened #249 "Change File.GetHashCore() .ToString("X2") to .ToString("X2", CultureInfo.InvariantCulture)"

[2016-09-07 16:57] #248 closed, assigned to Yomodo

[2016-09-07 16:57] #249 closed, assigned to Yomodo

[2016-09-10 07:45] Yomodo opened #250 "Change FileSystemEntryInfo.ToString() to show full path instead of ReparsePointTag."

[2016-09-10 08:02] #250 closed, assigned to Yomodo

[2016-09-11 21:14] Yomodo opened #251 "Implement unicode versions of GetCurrentDirectory and SetCurrentDirectory."

[2016-09-11 21:16] Yomodo opened #252 "Correct FileSystemEntryInfos.FullPath property when input path is a dot (current directory)."
If a dot is specified as input path, the FullPath property also starts with a dot and is thus incorrect.

[2016-09-11 23:10] Yomodo opened #253 "Apply Dispose() to method File.GetHashCore()"
Currently Instances are created but never disposed.

[2016-09-11 23:55] #253 closed, assigned to Yomodo

[2016-09-12 13:56] Yomodo opened #254 "Change File.GetHashCore() output from .ToLowerInvariant() to ToUpperInvariant()."
Compiler warning/suggestions.

[2016-09-12 15:24] #254 closed, assigned to Yomodo

[2016-09-21 10:27] ardestan opened #255 "Creating Folder with Empty name"
Hi,

i tried to create the next folder path, "c:\temp\\folder1\ \folder2///   folder3" and got the next
result c:\temp\folder1 were created, inside a folder with empty name (just the folder icon with no name) was created, inside again a folder with empty name (just the folder icon with no name) was created, and then inside the folder2 was created, when clicking on it a message box appear with the

[2016-09-21 12:30] Yomodo commented on #255
Hi! It seems your paths has spaces in it: C:\temp\folder1\ \ \folder2

AlphaFS allows the creation of folders and files with a space in the name,
although this only happens if the PathFormat is specified.

So what syntax did you use?

[2016-09-21 12:50] ardestan commented on #255
Hi,

The path contains spaces, but it seems that if the space sorround with "\" it treated as empty folder name. i'm using the CreateDirectory(string path) method, without the PathFormat.

[2016-09-21 12:57] frontier777 opened #256 "Directory.Move not working over volumes with CopyAllowed"
Using .NET 3.5 and the 3.5 lib from AlphaFS.2.0.1.zip
DIrectory.Move across volumes is not working even with the CopyAllowed option set.

eg.

[code]

This fails with the following exception:

System.UnauthorizedAccessException occurred
  Message=(5) Access is denied: [\?\E:\Temp\Test2]
  Source=AlphaFS
  StackTrace:
       at Alphaleonis.Win32.NativeError.ThrowException(UInt32 errorCode, String r

[2016-09-21 13:14] Yomodo commented on #256
Yes, `MoveOptions.CopyAllowed` should enable moving across volumes.

Are there any read-only folders/files that are moved?

[2016-09-21 14:26] frontier777 commented on #256
There are 3 files and no sub-folders in Test1 and none are read-only. (checked each one)

Also AlphaFS Copy and then then Delete work fine, as per my last example, so to me that seems to rule out any permission or read-only issues.

Forgot to mention above, I'm using Windows 7 x64, but also see the problem on Windows Server 2012 R2.

[2016-09-21 14:55] Yomodo commented on #256
Could you also test with the latest development build? (2.1.0.0)

[2016-09-21 14:56] Yomodo commented on #255
I'm assuming you're using version 2.0.1?
Could you also test with the latest development build? (2.1.0.0)

[2016-09-21 15:07] ardestan commented on #255
Where can i found this version?

[2016-09-21 15:07] frontier777 commented on #256
Yes happy to test, but not sure where to find it? I will need a binary as I only have VS2010 installed and can't build from source.

[2016-09-21 16:28] Yomodo commented on #256
Please find it here: https://github.com/alphaleonis/AlphaFS
I've uploaded two compiled AlphaFS.dll zip files for .NET 3.5 and .NET 4.0

[2016-09-21 16:28] Yomodo commented on #255
Please find it here: https://github.com/alphaleonis/AlphaFS
I've uploaded two compiled AlphaFS.dll zip files for .NET 3.5 and .NET 4.0

[2016-09-21 16:42] frontier777 commented on #256
Thanks, I just tested with the .NET 3.5 version and get the same error. I'll test with the .NET 4 version tomorrow and let you know if any difference.

For referece I used:
https://github.com/alphaleonis/AlphaFS/blob/develop/AlphaFS-NET35.zip

[2016-09-22 01:05] frontier777 commented on #256
Tested with the  .NET 4 version now and get the same error.
It seems like it is trying to move, instead of copy+delete as per the option.

[2016-09-22 09:37] ardestan commented on #255
Hi,

i tried the new dll, and experienced the same behavior as i described above.

[2016-09-23 08:56] mdehaas commented on #143
We use AlphaFS through PowerShell [(NTFSSecurity Module)](https://ntfssecurity.codeplex.com/) for dealing with security rights, long filenames and moving customer data (We are server agnostic through DFS Namespaces). This is automated as much as possible. AlphaFS helps us overcome the limitations of the current NTFS implementation. Without it we would use way to much robocopy...

[2016-09-24 20:09] alphaleonis opened #257 "Integrate nuget-package creation into the VS build process."
This will make it easier and quicker to create and release new versions of AlphaFS, if the NuGet package is created automatically when building the project.  It is quite simple to achieve with NuGet.CommandLine.

[2016-09-25 08:49] ardestan commented on #255
The new dll has another issue, when i use the CreateDirectory(string path, PathType pathType)
passing the "c:\temp\folder1\ \folder2/// folder3" and set the pathType to FullPath or LongFullPath
i'm getting exception, only RelativePath is working.

[2016-09-25 09:02] ardestan opened #258 "Provide downloadable documentation in .chm format."
Hi,

can you attach the documentation to the project as .chm or .pdf file?

[2016-09-25 16:41] #257 closed, assigned to alphaleonis

[2016-09-25 16:42] alphaleonis commented on #258
I've added the .chm format as an output to the documentation project. This will be available for download starting in the 2.1 release.

[2016-09-25 17:02] alphaleonis opened #259 "Multiple issues with the Crc32 and Crc64 classes."
1. They are not CLS-compliant, thus generating many warnings.
2. They do not conform to the coding guidelines, using an `m_`-prefix on private members.
3. They are missing documentation.

These classes seem to be there only to support `File.GetHash`? In that case shouldn't they be made internal rather than public?

[2016-09-25 17:04] alphaleonis commented on #259
Also, why did we stop submitting pull-requests for code-review, especially for new features, before checking them in?

[2016-09-25 17:05] alphaleonis opened #260 "Determine which target frameworks to build for and update build definition."

[2016-09-25 17:11] alphaleonis commented on #259
Ah, just noticed that it was external code that was lifted in with permission from the author. I assume we also have permission to modify the code?

[2016-09-25 17:41] alphaleonis commented on #148
Currently unable to reproduce this problem, so closing this for now.

[2016-09-25 17:41] #148 closed, assigned to alphaleonis

[2016-09-26 10:42] #259 closed, assigned to alphaleonis

[2016-09-26 11:00] Yomodo commented on #259
The written permission from the author, Damien Guard:

[2016-09-26 11:03] Yomodo commented on #255
How do you get paths like these in the first place?

[2016-09-26 11:24] alphaleonis commented on #259
Okay, great! :) Thanks.

[2016-09-26 11:25] alphaleonis opened #262 "Remove the two ZIP files from source control."
These files should not be in the repo, and should be removed.

[2016-09-26 11:25] ardestan commented on #258
Thanks.

[2016-09-26 12:14] ardestan commented on #255
we want to use this dll in our projects, we run some tests to make sure it behaves as System.IO, so
we shouldn't have any unexpected behavior, and that we safe from user/programmer errors, such scenario
might happen when you write code.
Maybe you can add this test to the unit tests project.

[2016-09-26 21:56] Yomodo commented on #255
Ok, but notice that chances are that this may not be fixed 100%.

[2016-09-27 14:17] ardestan commented on #258
Can you please, provide also a list of the supported operating systems you tested the dll on.

[2016-09-27 15:03] ardestan opened #263 "Directory.GetDirectories Method (String, String, SearchOption) with pattern "* ""
Hi,

i run this method on next folders when the search pattern set to "\* " (after the asterik there is a space) and the search option set to AllDirectories:
"c:\temp\" when temp directory contains 2 directories "testing1" and "testing2".
c:\temp --
-----------| testing1
-----------| testing2

your dll returns 0 directories as results when System.IO returns 2 directories.

[2016-09-27 17:42] alphaleonis commented on #207
This has been long overdue. Guess both me and @Yomodo got too tied up with other things in life to get the release out like we had hoped. But we are aiming for a release in October 2016 now anyway, and the plan is to get bugfix releases out more often after that.

[2016-09-27 20:17] thomaslevesque commented on #207
@alphaleonis thanks for the update, that's very good news!

[2016-09-28 09:10] ardestan commented on #263
Another issue with pattern, if i put empty string, or white space as search pattern, you throw exception where System.IO not.

[2016-09-28 09:24] ardestan opened #264 "Support for xml and image"
Hi,

It will make your dll a best solution exists if you support xml (xml serialize/read/write etc..) and image
(Image.FromFile etc...) for long path files.

Thanks.

[2016-09-28 11:48] #256 closed, assigned to Yomodo

[2016-09-28 11:50] Yomodo commented on #256
I've updated the two .DLL's, would you care to test again to make sure it is fixed?

[2016-09-28 12:24] Yomodo commented on #264
How about this, for XML:

var stream = Alphaleonis.Win32.Filesystem.File.Open("product.xml", FileMode.Open, FileAccess.Read))

xmldoc.Load(stream);

[2016-09-28 13:29] #263 closed, assigned to Yomodo

[2016-09-28 13:45] ardestan commented on #264
This could be a solution, but if we want to follow the main reason someone will want to use the dll, is how easy he can switch from using System.IO to AlphaFS, all methods have same signature, just refference the dll and you ready to go, no code changes are needed, he probably want to have the same approach with xml and images, and again without any code changes from his side.

[2016-09-28 13:56] frontier777 commented on #256
Tested with the .NET 3.5 version and issue remains. The dll is from about 2 hours ago as I write this, file size is 321,024 bytes.

[2016-09-28 13:58] frontier777 commented on #256
Tested with the .NET 4.0 version and the issue is solved. Same time stamp as above, file size is 293,888 bytes.

[2016-09-28 14:09] Yomodo commented on #256
Hm.. seems I did something wrong with the .NET 3.5 dll.
Since the code is the same for .NET 3.5 and .NET 4.0 we can regard it as resolved.

[2016-09-28 16:41] alphaleonis commented on #264
@ardestan What methods in particular are you referring to? Maybe I'm misunderstanding you here? All Xml-classes including serialization works with streams already. And you mention `Image.FromFile`, which happens to be in System.Drawing and really has very little to do with System.IO.  First of all, how would we do anything about that method? We can't reimplement the entire `Image` class, and there

[2016-09-28 16:43] alphaleonis commented on #149
@Yomodo This seems like an issue we can push to a future release, don't you think?

[2016-09-28 16:54] Yomodo commented on #149
Yes! Totally agree.

[2016-09-28 18:13] Yomodo commented on #262
Could you please check. I think I interfered somehow, since the .zip files are back?

[2016-09-28 18:27] alphaleonis commented on #262
@Yomodo Hehe, you really want those there don't you?  ;)  Alright, I did a rewrite of the history to get rid of them permanently.  Of course, I forgot to tell you that you should get a fresh clone before pushing again, since otherwise this might happen.   So let me know of a time when you don't have anything being worked on and I will fix that.

[2016-09-28 18:29] Yomodo commented on #262
:) I'll hold my horses, please go ahead.

[2016-09-28 18:29] alphaleonis commented on #262
Alright, cool, just delete your local repo, and do a fresh clone afterwards then. I'll let you know when I'm done.

[2016-09-28 18:32] alphaleonis commented on #262
@Yomodo : There, you should be good to go with a fresh clone now! :)

[2016-09-28 18:32] #262 closed, assigned to alphaleonis

[2016-09-28 21:26] #255 closed, assigned to Yomodo

[2016-09-28 21:28] Yomodo commented on #258
@alphaleonis

Subject: RE: AlphaFS: Regarding Documentation Problems
Date: Sat, 3 Jan 2015 13:05:50 +0100
**Exactly. Good, but then we’ll skip the CHM.**

Yomodo:
I agree, online help is so much easier.
Also can't really think of any advantage by maintainingan extra CHM file, it only means more work for us.

[2016-09-29 05:11] alphaleonis commented on #258
@yomodo: This is why I prefer verbal communication. The written word is too easily used against you. ;)
But anyway, I did not believe anyone would want the chm-file. Apparently some people do. And frankly, there is really no extra work at all to provide it currently. (the new build script places it in the zip it creates, so I don't see the problem of including it in the build.

Or am I missing som

[2016-09-29 06:46] Yomodo commented on #258
Haha.. anything you write can and will...
Reading back the mails, the main reason for dropping the chm was questions from users why
they could not open the file, because of version differences. And at that time we thought the online help was sufficient.

[2016-09-29 06:47] ardestan commented on #264
I agree with your words, i just tried to give an improvement suggestion, you right, the support for the long path problem will be allways a partial one, because as you mentioned: "there is a huge amount of methods in different classes all around the .NET framework that accept a filename as input", so for now you need to use the stream approach.

[2016-09-29 06:57] Yomodo commented on #172
This is a duplicate of #41.

[2016-09-29 06:57] #172 closed, assigned to nobody

[2016-09-29 07:08] #264 closed, assigned to nobody

[2016-09-29 07:10] alphaleonis commented on #258
Ah, yes, the eternal problem with opening chm-files that have been downloaded. Yes, forgot about that one. Oh well, either way, we'll just include the CHM for anyone who wants it I think anyway.

[2016-09-29 08:07] #251 closed, assigned to Yomodo

[2016-09-29 08:38] meccoro commented on #172
hello

Thank you for your reply.
It was reproduced in the following versions.
https://github.com/alphaleonis/AlphaFS/releases/tag/v2.0.1

2016-09-03 8:53 GMT+09:00 Jeffrey Jangli notifications@github.com:

[2016-09-29 08:41] Yomodo commented on #172
This issue is the same as #41.  There was no solution to be found and, unfortunately, there's still no solution for this issue.

[2016-09-29 10:13] #252 closed, assigned to Yomodo

[2016-09-29 11:06] alphaleonis opened #265 "Update year in copyright notices."
They should say 2016.

[2016-09-29 11:26] Yomodo commented on #161
I'm still not sure if this is something to add to AlphaFS.
Although it sounds like a handy convenience method, its purpose will probably not/never satisfy everyone's need, but most of all, has little or nothing to do with long paths.

[2016-09-29 12:51] alphaleonis commented on #161
I agree with @Yomodo. This is a simple method to create yourself on top of AlphaFS, and in a way that suits your particular needs.  And there is no good way to implement it so that it would suit everyones needs when it comes to the naming of files.  I suggest we close this one as WontFix.

[2016-09-29 13:24] #161 closed, assigned to nobody

[2016-09-29 15:45] Yomodo opened #266 "Add PowerShell script Enumerate-FileSystemEntryInfos.ps1"
Easy and powerful enumerating of folders and files in PowerShell.
Script/function: `Enumerate-FileSystemEntryInfos.ps1`

[2016-09-29 15:49] #266 closed, assigned to Yomodo

[2016-09-29 16:03] alphaleonis opened #267 "A huge amount of warnings are produced when building the .NET 3.5 version."
These are all the same:

`warning CA2118: Microsoft.Security : Review declarative security for '<method>' and its callers for potential vulnerabilities. The following call stack might expose a way to circumvent security protection:`

These should either be suppressed or otherwise fixed.

[2016-09-29 16:07] alphaleonis opened #268 "There are multiple warnings when building the documentation."
These should be reviewed and fixed.

[2016-09-29 16:12] #265 closed, assigned to alphaleonis

[2016-09-29 16:48] alphaleonis commented on #258
Fixed in 2.1.

[2016-09-29 16:48] #258 closed, assigned to alphaleonis

[2016-09-29 16:48] alphaleonis opened #269 "Update documentation on website to 2.1."

[2016-09-30 12:36] Yomodo opened #270 "Method File.GetFileSystemEntryInfoCore uses wildcard ? (questionmark) instead of * (asterisk)"
Although currently it seems to work fine, wildcard: \* (`Path.WildcardStarMatchAll`) should be used instead of: ? (`Path.WildcardQuestion`)

[2016-09-30 14:06] Yomodo commented on #207
I guess this one can also be closed?

[2016-09-30 15:04] #207 closed, assigned to nobody

[2016-09-30 15:27] #270 closed, assigned to Yomodo

[2016-10-01 12:39] Yomodo opened #272 "Improve methods Directory/File.CopyMoveCore()"
Improve methods `Directory/File.CopyMoveCore()`

Possible to-do's:

**1. Improve detection of same volume;**
Applies to moving of files/folders. `Volume.IsSameVolume()` is used to check if the source and destination paths are on the same volume. This works well, even if source is a local path and destination a UNC path.
For example: Move from source : `C:\Temp\testfolder1` to destination : `\\host

[2016-10-02 11:24] alphaleonis commented on #272
It was a long time since I looked at this. But I would like a somewhat thorough explanation of each of the points in the list above; what each of the item achieves and how it can be done, and any changes to public interfaces that they would mean.

[2016-10-03 07:35] Yomodo commented on #272
I've filed a bug at Microsoft [Connect](https://connect.microsoft.com/VisualStudio/feedback/details/3105340/win32-api-function-movefilewithprogress).

[2016-10-04 17:04] alphaleonis commented on #272
These sound like good suggestions with good explanations. (I took the liberty of adding numbers to the different items to make it easier to discuss them).

**1.** This sounds like a good idea, but how does comparing them ourselves help if we use the underlying Win32-function in the end, if that still will fail?

**2.** While you are right, recursion may lead to an SO-exception, I've yet to see one

[2016-10-04 22:06] Yomodo commented on #272
**1.** I've managed to do it this way for method `CopyMoveCore`:

![capture](https://cloud.githubusercontent.com/assets/10358198/19093734/a70a13be-8a8c-11e6-9e65-75c27374640a.PNG)

**2.** Perhaps instead of `Stack<>` we can even use the `Queue<>` which is already being used in the `FindFileSystemEntryInfo.Enumerate` method.

**4./5.** The new method, something like:
`public static void Clone(strin

[2016-10-04 22:08] Yomodo opened #273 "Directory/File.CopyMoveCore: Make code recursive-aware, skip additional path checks and validations."
See issue #272, Item 3.

[2016-10-04 22:14] Yomodo opened #274 "Directory/File.CopyMoveCore: Improve detection of same volume."
See issue #272, Item 1.

[2016-10-04 22:15] Yomodo opened #275 "Directory/File.CopyMoveCore: Eliminate recursion."
See issue #272, Item 2.

[2016-10-05 17:38] alphaleonis commented on #272
Okay, sounds good. Let's disregard 4/5 then. And when it comes to 2 I don't know which is best, Queue or Stack, only determines the order in which things are made I guess. :)

[2016-10-13 14:04] ardestan opened #276 "Directory.DeleteDirectory(): Method can get stuck in an infinite loop."
Hi,
I have test that deletes nested folders on network drive, in Win7 and Server 2012 it works, but on XP it stuck, seems the method is not returning, probably an infinite loop.
I'm using the next method:
DeleteDirectory(string path, bool recursive), and I set the recursive argument to true.

[2016-10-14 07:19] Yomodo opened #277 "Directory.DeleteDirectoryCore(): Eliminate recursion."
Method: `DeleteDirectoryCore()` is recursive.
Eliminate using `Stack<>`

[2016-10-14 07:20] Yomodo opened #278 "Directory.DeleteEmptySubdirectoriesCore(): Eliminate recursion."
Method: `DeleteEmptySubdirectoriesCore()` is recursive.
Eliminate using `Stack<>`

[2016-10-15 10:53] Yomodo commented on #276
I may have found the culprit in code, if `requireEmpty` = `false`:

[code]

Although I would expect the same behaviour on Windows 7 and Server 2012.
Nevertheless, a bug.

[2016-10-15 20:27] ardestan commented on #276
Is there different behavior between network and local directories?
According to the culprit, should expect the same behavior for local and network directories as well.

About Win7 and sever 2012:
In my tests, after deleting the nested directories, I'm cheking if deleted using Directory.Exists() method, so in Win7 and server 2012, The tests hit this code line.
So, apparently the method returned and

[2016-10-16 11:11] Yomodo commented on #276
The behavior  should be the same for local and network drives.
The only thing behaving differently would be the Win32 API, but there's no mention of that in the docs.

[2016-10-16 13:41] Yomodo opened #279 "The unit tests for CRC32/64 are failing."
-The attribute is missing: `[TestClass]`
-All `Asserts` are failing.

Not sure how we missed this?

[2016-10-16 14:36] #279 closed, assigned to Yomodo

[2016-10-16 19:12] #276 closed, assigned to Yomodo

[2016-10-17 11:28] Yomodo commented on #276
@ardestan I'm positive the issue is solved now. Could you perhaps test it?

[2016-10-20 20:08] Yomodo opened #283 "Add [MethodImpl(256)] to methods and constructors."
Inlining a method/property means that the compiler takes it and replaces the calls to it with its contents
This is done for performance normally.

Should we do this?

[2016-10-20 20:19] alphaleonis commented on #283
To what methods in particular? Definitely not to all methods. It is something that should likely be use extremely rarely if I've understood correctly.

[2016-10-20 20:23] alphaleonis commented on #283
In addition, I see no reason to apply aggressive inlining to any method performing i/o, since the overhead of the actual call to the method would be negligible to the time spent inside the method. And most methods we have perform i/o I think.

[2016-10-20 22:14] Yomodo commented on #283
I think the `Path` class could benefit, that one has less I/O and more string parsing.

[2016-10-21 07:36] alphaleonis commented on #283
Remember the phrase "Premature optimization is the root of all evil" ;) ... Also know that not having the attribute does not prevent the JIT from inlining methods, and adding the attribute does not force inlining. It is just a "stronger recommendation" of some sort if I'm not mistaken, and I don't think it should be used without having a good reason to believe it will improve performance.   So if

[2016-10-24 15:00] Yomodo commented on #283
I did some basic benchmarking on a couple of methods from the `Path`, `Directory` and `File` classes
only to get the impression that adding the attribute does not add anything in terms of speed/performance.
I am going to close this one.

[2016-10-24 20:26] #283 closed, assigned to nobody

[2016-10-24 21:38] ardestan commented on #276
Hi,
Sorry for the late rspond, i was in vacation
in the last 10 days.
where could i found the new dll?

[2016-10-25 09:51] ardestan commented on #276
Hi,
Did you released new dll (2.1.1) with your fixes?
I could not found such release.

[2016-10-25 13:03] ardestan opened #284 "Can't set DirectoryInfo().Attributes because setter is protected (Develop version)"
Hi,

My current code i have the next method:

void SetDirectoryAttributes(string dirPath, FileAttributes newAttributes)
{
       DirectoryInfo dirInfo=new DirectoryInfo(dirPath);
       dirInfo.Attributes|=newAttributes;
}

I downloaded the last development branch and build it, when using this new dll, I got error message
saying that I can't set FileAttributes in DirectoryInfo, because it had only

[2016-10-25 17:01] Yomodo commented on #276
No, you'll have to compile this one your self. It has not been released yet.

[2016-10-25 17:24] Yomodo commented on #284
Good catch!

[2016-10-26 10:04] ardestan commented on #276
Hi,

I'm using the last dev branch (version 2.1.1), now on XP it fails to delete nested folders on network path with the next message:
"Folder is not empty"
but on Win7 it works.

[2016-10-26 14:10] ardestan opened #285 "Deleting nested folders on network drive fail on XP (As continue to Bug #276 fix)"
Hi,

As continue to Bug #276 fix

I'm using the last dev branch (version 2.1.1), now on XP it fails to delete nested folders on network path with the next message:
"Directory is not empty"
but on Win7 it works.

[2016-10-26 14:32] Yomodo commented on #285
Yes, the latest fix at least throws an exception instead of getting into an endless loop.

That said...  Makes one wonder why it works on Win 7 and not on XP.

[2016-10-26 14:45] ardestan commented on #285
So, how it going to be supported on XP?
It's basic and important functionality.

It looks like race condition somewhere, do you have an XP machine that you can debug to
find the root cause?

[2016-10-26 15:33] Yomodo commented on #285
That's a good question.

I could say: Support for Windows XP has been dropped by Microsoft, so why should AlphaFS maintain it.
But, of course, that's a lame answer and doesn't help anyone.

Unfortunately, I don't have Windows XP on which I can install Visual Studio to troubleshoot.

[2016-10-26 15:34] Yomodo commented on #285
Also, when your receive this exception, is the directory indeed NOT empty?
E.g. no hidden files? And this happens only on a network share?

[2016-10-26 15:52] ardestan commented on #285
The directory not empty, it has some
nested subdirectories in it, some
of the subfolders contains some files.
And indeed it happens only on network drive.

About XP support, it's very important to us to have that functionality.

[2016-10-26 16:21] Yomodo commented on #285
Could you try something like this, to see if it eventually would delete everything?
The `DirectoryNotEmptyException` will be caught, allowing the loop to continue.

[code]

[2016-10-26 16:33] ardestan commented on #285
I'll try it.

[2016-10-27 07:12] ardestan commented on #285
It's not working in consistent way, sometimes it stuck.

[2016-10-27 09:12] Yomodo commented on #285
You mean stuck as in endless looping (again) ?
Are there any other exceptions that are thrown?

[2016-10-27 10:29] ardestan commented on #285
I used the code sample from your comment, I didn't log the exceptions.

[2016-10-27 11:19] Yomodo commented on #285
Does it work OK when you use .NET for removing the directory? (Assuming no long paths).
Perhaps you are able to install VS on that Windows XP machine and use the step-through debugger?
And, could you post the full stack trace of the Exception?

[2016-10-27 13:45] ardestan commented on #285
I can't promise, I'll try to.

[2016-10-27 17:01] Yomodo commented on #285
http://zacharykniebel.com/blog/web-development/2013/june/21/solving-the-csharp-bug-when-recursively-deleting-directories

[2016-10-28 23:14] Yomodo opened #286 "Property FileSystemEntryInfo.AlternateFileName is always an empty string."
The methods `EnumerateFileSystemEntryInfosCore()` and `GetFileSystemEntryInfoCore()`  use, by default, the `DirectoryEnumerationOptions.BasicSearch` option.

Using this option improves retrieving file system objects by **not** [querying the short file name.](https://msdn.microsoft.com/nl-nl/library/windows/desktop/aa364415%28v=vs.85%29.aspx)

This means that the results from these methods with a r

[2016-10-29 14:46] alphaleonis commented on #286
It would be a breaking change if we went the other way. Not sure I'd see it as a breaking change in this case, since no-one likely relies on the fact the AlternateFileName is empty.  So I wouldn't say it's a breaking change since no-one will have to change their source-code to have it compile or to have the same behavior as before, even though the speed may be slightly affected of course.  But I'm

[2016-10-29 19:45] Yomodo commented on #286
Yeah you're right, not a breaking change and, of course, for the develop branch.

[2016-10-31 09:12] ardestan commented on #285
OK, but as I saw you have your own implementation using pinvoke, so I didn't understand the relevancy to C#.

[2016-10-31 09:34] ardestan opened #287 "XP rename file fails with error code (123) on network drive"
Hi,

My directories structure:
\\ardestan.local\1111111111111111111...\2222222....\150.........\RenamedFile.txt

I nested 150 directories, each directory name length is 30 chars, I succeed to create new text file on last
nested directroy (directory 150), but when trying to rename this file I got the next error message:

"(123) The filename, directory name, or volume label syntax is incorrect: [\\?

[2016-10-31 12:08] Yomodo commented on #287
Internally we discussed the support for Windows XP and we've decided to drop support for this platform.
This issue will not be fixed.

[2016-10-31 12:08] #287 closed, assigned to nobody

[2016-10-31 14:58] #285 closed, assigned to nobody

[2016-10-31 15:52] warrenlbrown opened #288 "Directory.Exists on root drive problem has come back with recent updates"
In 2.1.2 release:
`

false

true
`

[2016-11-01 16:26] Yomodo commented on #288
Strange, this is what I get:

[code]

[2016-11-01 16:35] warrenlbrown commented on #288
I don't believe you're testing to see the differences that I think I'm seeing.

You cannot compare anything with System.IO as far as the long path prefix is concerned, so, let's try a different approach to clarify:

Assuming that c:\temp exists on your machine:
The following returns true:
Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\temp\");
Ergo the following should return true, but it

[2016-11-01 17:14] Yomodo commented on #288
As I stated in #216, AlphaFS should mirror System.IO as closely as possible.

There's at least one exception: Checking the existence on the root drive is a bit
different than checking it on a sub folder:

[code]

You also don't need to apply the long path prefix, AlphaFS will take care of this internally.

[2016-11-01 17:25] warrenlbrown commented on #288
I still feel like we are talking at cross purposes.

Following is correct and desired, which is good:
Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\temp\");

Since this temp directory exists, then the drive directory root should also exist when I do the following, but it does not:
Alphaleonis.Win32.Filesystem.Directory.Exists(@"\\?\c:\");

If I use System.IO, then following is good:
Syste

[2016-11-01 17:58] Yomodo commented on #288
The `temp` folder and the `root drive` are two different things, so they can't/ shouldn't
be compared equally (in the same way).

Better yet, if you need to check for the drive, you should use the `DriveInfo` class for that.

[2016-11-01 18:04] warrenlbrown commented on #288
Thank you again for your responses.

The scenario is that a particular application allows a user to specify any given path/directory (including the root directory) on the system as the target for the creation of some file. It is then useful to confirm that that directory exists before trying to do anything else with the directory.

So a user might specify c:\temp
Or c:\
or d:\some\other\directory

[2016-11-02 06:25] ardestan commented on #287
It is a pity, XP should be your concern, because as Microsoft announced in .NET framework 4.6.2 they support the long path issue.
most of the operating systems are supported by this framework, beside XP.

https://blogs.msdn.microsoft.com/dotnet/2016/08/02/announcing-net-framework-4-6-2/

[2016-11-02 13:17] Yomodo commented on #287
AlphaFS calls the same Win32 API's on all Windows platforms. So if there's an error in the Win32 API,
then we cannot solve that as the source of these API's is not available.

[2016-11-02 13:23] ardestan commented on #287
But you have your own logic in your project, otherwise, it was only
p/invoke file for the API methods, nothing to much sophisticated.

[2016-11-02 14:22] Yomodo commented on #287
To track this down I would need to have an XP machine (perhaps a virtual machine would do)
and VS that runs on XP. The latter I don't have.

On all platforms greater than Windows XP it works well, so we can assume the logic is OK.
For unknown reasons it fails on XP and I just don't have the means to track this.

Of course, **you** can also try to track down this bug and come up with a possible sol

[2016-11-03 00:00] Yomodo commented on #288
Could you try with the development build?
I'm suspecting this fix did not make it into the current prod (v2.1.2) release.

[2016-11-03 13:06] warrenlbrown commented on #288
I was testing with latest. So I pulled latest again. And still same problem

[2016-11-11 12:15] Schoolmonkey opened #289 "Alphaleonis.Win32.Network.Host.GetShareInfo doesn't work since 2.1.0"
While the mehtod workes great in 2.0.1, after Upgrade using just 2 params
Host.GetShareInfo Method (String, Boolean),

in 2.1.0 and newer versions I got an Invalid Share Error

System.Net.NetworkInformation.NetworkInformationException (0x80004005): Diese fr
eigegebene Ressource existiert nicht
   bei Alphaleonis.Win32.Network.Host.GetShareInfoCore(ShareInfoLevel shareLevel
, String host, String sh

[2016-11-11 14:05] pawod opened #290 "PathTooLongException when component has exactly 255 characters"
I can't create `DirectoryInfo`s for folders that contain exactly 255 characters, which should be possible as this is the maximum allowed number.

**Not working (255 chars for component with prefix `dir_`):**
`new Alphaleonis.Win32.Filesystem.DirectoryInfo(Path.GetLongPath(@"\\?\UNC\share123.domai.in\RandomNameFoo Baaaaar\3a26705a-094f-43e5-849d-0507b42d0b01\dir_14682075_1187295568005902_4662439486

[2016-11-12 01:04] Yomodo commented on #289
You are 100% sure the share exists?

[2016-11-14 08:46] Schoolmonkey commented on #289
@Yomodo
I think I am. I've tested it with 3 servers using shares, the explorer can find without any problems.
Does it work in your environment? When I use the "Get-WmiObject Win32_share" command in the powershell the share is found as well. (Tested with a Windows Server 2012 R2)

The shares have been in format "\\server\name".

[2016-11-18 16:03] KingBain opened #291 "CopyMoveProgressRoutine and powershells Write-Progress"
Was hoping someone might be able to provide a snippet of code on how to use CopyMoveProgressRoutine in powershell. I'd like to give user feedback when moving a large file.

Thanks
John

[2016-12-12 17:18] v2kiran commented on #289
yup i can confirm that...
@Schoolmonkey  - as a workaround you could use this method which worked for me.

GetShareInfo(
	string host,
	string share,
	bool continueOnException
)

[2016-12-12 17:34] v2kiran opened #292 "CopyOptions.CopySymbolicLink not working in 2.1.2"
CopySymbolicLink	2048   COPY_FILE_COPY_SYMLINK
If the source file is a symbolic link, the destination file is also a symbolic link pointing to the same file that the source symbolic link is pointing to.

**Method used**
Copy(
	string sourceFileName,
	string destinationFileName,
	CopyOptions ([Alphaleonis.Win32.Filesystem.CopyOptions]::CopySymbolicLink
)

privilige used: [Alphaleonis.Win32.Security

[2016-12-14 09:56] Han63 opened #293 "Alphaleonis.Win32.Filesystem.DirectoryInfo Delete($true,$true) does not work properly"
PS C:\Users\administrator.CONTOSO> $Path = "C:\Folder level 1"
PS C:\Users\administrator.CONTOSO> $dirInfo = New-Object -TypeName Alphaleonis.Win32.Filesystem.DirectoryInfo($Path)

PS C:\Users\administrator.CONTOSO> $dirinfo.Delete($true,$true)
Exception calling "Delete" with "2" argument(s): "(145) The directory is not empty: [\\?\C:\Folder level 1\Folder level
 2\Folder level 3\Folder level 4\Fo

[2016-12-14 11:20] Han63 commented on #293
Windows Server 2008 R2 Standard 6.1.7601.65536
CLRVersion                     2.0.50727.5485
BuildVersion                   6.1.7601.17514
PSVersion                      2.0
WSManStackVersion              2.0
PSCompatibleVersions           {1.0, 2.0}
SerializationVersion           1.1.0.1
PSRemotingProtocolVersion      2.1

Folder path:
C:\Folder level 1\Folder level
 2\Folder level 3\Folder level

[2016-12-15 08:33] Han63 commented on #293
Dangerous DLL!
When deleting files on a remote share which are open but NOT locked, the following error is produced:
Exception calling "Delete" with "2" argument(s): "(145) The directory is not empty:
This is a misleading error message.
Furthermore the remaining files are left damaged, when displaying the security tab no information is shown and I'm unable to tak ownership.
This is the code I'm us

[2016-12-16 10:32] Yomodo commented on #293
Could you shorten your paths and try again with [System.IO] DirectoryInfo() to see what results you get?
At the moment I'm a short on for extensive testing myself.

[2016-12-27 20:25] v2kiran opened #294 "[Alphaleonis.Win32.Filesystem.Path]::GetFullPath always defaults to the user's home directory"
**public static string GetFullPath(
	string path
)**

**Remarks**
_GetFullPathName merges the name of the current drive and directory with a specified file name to determine the full path and file name of a specified file._

**Issue**
A file named 'test.txt' located at c:\temp should return c:\temp\test.txt but
GetFullPath('test.txt') --> actually returns c:\users\administrator\test.txt

so the cu

[2016-12-28 13:22] Yomodo commented on #294
Do you also experience this with [System.IO.Path]::GetFullPath() ?

[2016-12-28 14:05] v2kiran commented on #294
i hadnt tried the system.io.path but did just now and it seems to do the same. Anyway based on the description of getfullpath I expected the method to return the current working directory which would be more useful than the home directory.

[2016-12-31 20:38] ghost opened #295 "File.Copy can't find file that FileInfo can"
I'm having this issue where I get File Not Found on SOME files, all of which are over 260 chars, including directory.  I decided to see if I could simplify it to debug, so I wrote the snippet below, and the same thing happens.

[code]

FileInfo finds the file, and reports the correct size.
File.Copy reports:
`"System.IO.DirectoryNotFoundException: (3) The system cannot find the path specified: [C:

[2016-12-31 20:51] ghost commented on #295
Environ:
Windows Server 2008 R2 SP1
VS Express 2015
AlphaFS 2.1.2.0
.NET 4.5

[2016-12-31 21:08] ghost commented on #143
I love AlphaFS!  I'm trying to replace the use of a robocopy with my own home grown project, with much success, but not total yet.  So far it is about 20 times faster than robocopy in off-site copies.  Couldn't so it without AlphaFS.

Thank you for your hard work in fixing the flaws in System.io.

[2017-01-10 11:47] doormalena opened #296 "Folder rename (casing) throws IOException with HResult 'ERROR_SAME_DRIVE'"
When changing the name of a folder from e.g. 'Test' to 'test' an IOException is thrown with a message like: "The system cannot join or substitute a drive to or for a directory on the same drive: [\\?\UNC\server\share\Test]". The default System.IO implementation does work in this scenario.

Used code:
`Directory.Move(currentFullPath, newFullPath);`

Partial stacktrace:

   at Alphaleonis.Win32.File

[2017-01-10 18:46] Yomodo commented on #296
I assume `newFullPath` only contains the new folder name and not the fullpath?

[2017-01-11 06:42] doormalena commented on #296
It contains the full path to the new location of the folder, where the only difference with `currentFullPath` is the casing of the last folder name in the path. Would it make a difference when this is changed to only the name of the folder? If so, the behavior is still different from the default .NET implementation.

[2017-01-13 15:55] damiarnold commented on #289
It would appear that in the GetShareInfo() function overloads with the single string for uncPath, that the uncPath is first processed as:

var unc = GetHostShareFromPath(uncPath);

This function appears to return the host portion (unc[0]) correctly, but the share path portion (unc[1]) returns with a leading backslash.  At this point, it would appear that the leading backslash is correct in the ret

[2017-01-16 05:15] damiarnold opened #297 "Incorrect domain returned from Host.EnumerateDomainDfsRoot when specifying domain"
When calling Host.EnumerateDfsDomainRoot(domain, continueOnError), the value for **domain** is not returned correctly in the string listings that come back.

For example, if I make a call to Host.EnumerateDfsDomainRoot("**dom1.example.com**", false) but my computer is in the **dom2.somewhere.else** domain, a possible listing returned may look like:

\\DOM2\DfsShares1
\\DOM2\DfsShares2
...
etc.

Th

[2017-01-16 05:20] damiarnold commented on #297
Pull request submitted.

[2017-01-17 14:30] doormalena opened #299 "FileInfo.MoveTo and DirectoryInfo.MoveTo throw ArgumentNullException on empty destination path"
The following code `directory.MoveTo(null, MoveOptions.DelayUntilReboot);` throws a ArgumentNullException due to the first argument being null.

Parameter name: path
   at Alphaleonis.Win32.Filesystem.Path.CheckInvalidPathChars(String path, Boolean checkAdditional, Boolean allowEmpty)
   at Alphaleonis.Win32.Filesystem.Path.GetFullPathCore(KernelTransaction transaction, String path, GetFullPathOpt

[2017-01-25 21:13] HugoRoss opened #300 "Path.GetFullPath(..) throws ArgumentException when used with a pattern"
Current behavior:
The example below throws a System.ArgumentException: 'Illegal characters: [*] in path.', even though option GetFullPathOptions.CheckAdditional is not specified.

		string myResult = Path.GetFullPath(".\\bin\\debug\\*.dll");

Expected behavior:
The path is resolved without touching the wildcard characters. In the example above the result would be something like "C:\Source\Scrap\Tr

[2017-01-25 21:32] HugoRoss opened #301 "Additional overload of Path.GetFullPath that takes the current folder"
Request:
I would like to see 4 more overloads of Path.GetFullPath (method signatures see below) that accept the current folder as an additional argument.

        public static string GetFullPath(string path, string currentFolder) { }
        public static string GetFullPath(string path, string currentFolder, GetFullPathOptions options) { }
        public static string GetFullPathTransacted(Kernel

[2017-01-25 23:14] HugoRoss commented on #260
And .NET 4.0.3

[2017-01-30 14:48] HugoRoss opened #302 "Path.GetFullPath: Allow novell style relative paths"
Add support for Novell-style relative path, e.g. "...\foo\bar" (same as "..\\..\foo\bar") or "....\foo\bar" (same as "..\\..\\..\foo\bar") etc.

This could be achieved with the following code:

	//Path.GetFullPath.cs
	private static string NormalizeNovellStylePath(string relativePath) {
		//Check arg
		Debug.Assert(relativePath != null, "The path is never null.");
		//Declare replacement string

[2017-01-30 15:02] HugoRoss opened #303 "Path.Constants.cs: Don't use CurrentCulture"
Path.Constants.cs:

Using CultureInfo.CurrentCulture to assign the string of a static readonly field means, that the first thread accessing the Path class determines the culture that is used and that remains for all other threads during the lifetime of the application.

If there are differences between calls to ToString(..) with different CultureInfos that needs to be taken into account (which I d

[2017-01-30 15:32] HugoRoss commented on #294
I tried it out and it works the same (as expected), in AlphaFS and System.IO (never mind that's in VB):

	Imports Alpha = Alphaleonis.Win32.Filesystem
	Imports Sys = System.IO

	Module Module1

		Sub Main()
			'Set the current directory
			Dim myRoot As String = "C:\Temp"
			Environment.CurrentDirectory = myRoot
			'Check with AlphaFS
			Dim myResultAlpha As String = Alpha.Path.GetFullPath("foo\ba

[2017-01-30 15:45] damiarnold commented on #302
I would recommend not implementing this for a number of reasons:

1.  This is tied to a proprietary implementation that used to be possible with Win9x and the NetWare file redirectors...it is no longer common nor builtin any more (see https://blogs.msdn.microsoft.com/oldnewthing/20160202-00/?p=92953).  While this _may_ be possible via direct NCP calls using a Novell/OES client (I'd need to run a t

[2017-01-31 08:39] Yomodo commented on #303
True, I have already run into issues with CurrentCulture in other projects.
For file paths InvariantCulture seems to be the best setting.

[2017-02-04 15:24] HugoRoss commented on #302
(I updated the original comment as some backslashes haven't been visible and I had to double them...)

My statement to @damiarnold comments above:

Point 1) Yes, it's not standard behavior but simple and helpful.

Point 2) That's true, if that is a concern, there should be an option enabling/disabling Novell-style relative paths.

Point 3) The file name "..." does not seem valid, I can't issue a t

[2017-02-04 16:02] damiarnold commented on #302
Hey, thanks for the feedback!
 Not sure why you were unable to recreate the '...' file entry, as I have been able to do this repeatedly on different Windows servers and workstations.  And, no, many of the "standard" tools will never be able to open it, but it remains that it is still a valid entry (as are entries with trailing spaces, various control characters, and any other character or pattern

[2017-02-04 16:05] damiarnold commented on #303
+1

[2017-02-04 16:46] damiarnold commented on #302
If this were to be an optional behavior for just the Path.GetFullPath() function, would it be ok if it were limited to the overload that includes GetFullPathOptions, and just extend the options enum?

This could work around the concerns I have with adjusting default behavior handling, and provide an option that is truly opt-in.

e.g.:

Path.GetFullPath(@"...\\some\\path\\text.txt", GetFullPathOpti

[2017-02-05 10:58] HugoRoss opened #304 "Path.GetFullPath(..): Add support for current folder per drive"
Usually Windows supports only a current folder per process, but command line applications rely on the current folder per drive like this was the case in DOS times. e.g. "XCOPY C:\*.\* D:\*.\* /S" copies everything from the current folder of C: (e.g. C:\Temp\Foo\Bar\\\*.\*) to the current folder of D: (e.g. D:\Temp\Alice\Bob\\\*.\*). The current folder per drive is stored in special environment var

[2017-02-06 19:25] HugoRoss commented on #302
Yes, that would be perfectly fine with me.

[2017-02-06 19:32] damiarnold opened #306 "Include ShareInfoLevel.Info502 and set as a fallback in GetShareInfoCore()"
There is at least one prominent NAS vendor that currently does not appear to support NetShareGetInfo() with level 503, but *does* support level 502.  In this particular case, error 50 (ERROR_NOT_SUPPORTED) is returned, which is currently not handled in AlphaFS, either.

It would be nice if level 502 were added and calls to level 503 included a possible fallback to 502 when at least ERROR_NOT_SUPPO

[2017-02-06 20:07] damiarnold opened #307 "Contribution guideline updates for indentation / spacing"
In looking at the Contribution Guidelines listed on the AlphaFS GitHub Wiki page, I didn't see anything mentioning the correct indentation / spacing considerations.  However, in reviewing the project code itself, it would appear that it makes use of a 3 space indentation style.

1.  Could the contrib docs be updated to state what the spacing / indentation should be? (e.g. spaces vs tabs, tab width

[2017-02-16 08:30] myGit0815 opened #308 "Renaming Folders with Trailing Space"
Even with using the latest Version of AlphaFS I am still running into Problems with trailing Spaces in Foldernames. I would like to rename them, not delete them.

My Powershell Sourcecode looks like this:
[code]

With this Code I still get a "Path not found" exception. How can I get around this? Is there another way than movinging the folder?

[2017-02-16 10:10] Yomodo commented on #308
Please take a peek here: https://github.com/alphaleonis/AlphaFS/wiki/PowerShell
And search for: "trailing space"
The magic lies in the use of: `[Alphaleonis.Win32.Filesystem.PathFormat]::FullPath`

[2017-02-16 13:17] myGit0815 commented on #308
Works like a charm! Thanks for the quick response, Problem is solved.
Sorry for not seeing that.

[2017-02-16 13:17] #308 closed, assigned to nobody

[2017-02-17 18:03] HugoRoss commented on #301
This request is outdated if #304 is taken into account. My new suggestion is to replace the `string currentFolder` by a `CurrentFolderCache currentFolders` parameter with a class definition that could look something like this:

	public class CurrentFolderCache {

		private String _CurrentFolder;
		private ConcurrentDictionary<Char, String> _CurrentFolderPerDrive;

		public CurrentFolderCache() {

[2017-02-28 15:53] roman-himmelreich-sp opened #309 "How to use backup semantics (seBackup privilege) over the network?"
I am trying to enumerate a directory on a remote file server. I want to use backup-semantics in order to not require administrator credentials.

On the test server, I have created a share:
1. Share permissions: everyone full control
2. NTFS permissions: only SYSTEM (I removed all others)

I am currently using this code:

    static void accessAsBackup() {

        // enable privileges
        usin

[2017-03-01 16:01] roman-himmelreich-sp opened #310 "How to contribute?"
Hi guys,
How do I create a pull request?
I get access denied when trying to publish a new branch...

I have added support for querying 'GetFileInformationByHandleEx' with 'FileInfoByHandleClass.FileAttributeTagInfo'.
Also added a method to the 'File' class: 'GetReparsePointTag' this is really helpful when querying 'GetFileInformationByHandleEx' with a result structure that does not include 'Repars

[2017-03-03 05:52] besoft commented on #212
I have implemented this feature: you may pass a set of filters into overloaded Enumerate methods and with DirectoryEnumerationOptions.ContinueOnException OFF your callback filter will be called. In your callback method you may log the error, ask the user, etc. and if the process should continue (as with DirectoryEnumerationOptions.ContinueOnException ON) your method will return true, false otherwi

[2017-03-07 10:13] springy76 opened #312 "Volume.EnumerateVolumes skips first volume"
Can be easily seen in code:

https://github.com/alphaleonis/AlphaFS/blob/b128b44eeb943218d79c6a845a2ee68c5c58e4e8/AlphaFS/Filesystem/Volume.cs#L577

It's calling FindNext BEFORE using the values retrieved by FindFirst.

In my case (=on my system) it's missing the volume holding "C:\".

[2017-03-14 17:27] damiarnold opened #313 "GetHostShareFromPath() fails with spaces in share name"
When passing in a UNC path such as '\\\\Server\\My Share'  that has a space in the share name, the function GetHostShareFromPath() returns the "path" portion as URL encoded.  This causes other dependent functions such as GetShareInfo(string, bool) and GetShareInfo(ShareInfoLevel, string, bool) to fail on those same UNC paths, once issue #289 has been addressed.

It would appear that the following

[2017-03-21 21:22] milos12345 opened #315 "EnumerateFileSystemInfos igoring ContinueOnException for Illegal Character"
Is this error something that needs in the AlphaFS or is it something I should be able to fix in my code. It ContinueOnException does not seem to work in this case:

[code]
-CR symbol I guess? I got similar reports from several users, mac formatted drives and browsing content copied from Android phone

The line in my code that causes the crash is
` IObservable<IList<FileSystemInfo>> bufferedFSI=Obs

[2017-03-23 20:20] Yomodo commented on #315
The mentioned path: `.HFS+ Private Directory Data` seems ok (I can create a folder by that name locally).

`ContinueOnException` only works with enumerating methods.

If you have access to the `Path.GetFileName()` call (2nd line of stack trace) you can call the method with `checkInvalidPathChars = false` to see if it makes a difference.

[2017-03-23 22:19] milos12345 commented on #315
I think that path has \r in there and I was unable to make a folder like that (see new line between [ and ]
Actually it looks like the part where it crashes is:
dir.EnumerateFileSystemInfos(filter, DirectoryEnumerationOptions.ContinueOnException)
I will try your fix for the next update and see it if still get the crash reports there. Thanks!

[2017-04-13 15:01] oguimbal commented on #296
+1

[2017-04-18 20:48] GerRudi opened #316 "Appending a line break with AppendAllText?"
[Question] Is there currently a method to append a line break with AppendAllText?
(Using AlphaFS 2.1 with .Net 4.5 in Powershell)

I'm trying to use **File.AppendAllText Method (String, String, Encoding, PathFormat)** to write logs into a file.

However, I wasn't able to find a solution to add a linebreak. The  "`n" isn't working and I couldn't find another solution, not with unicode characters or

[2017-04-19 06:29] Yomodo commented on #316
Have you tried adding `Environment.Newline` to the end of your string?

[2017-04-20 18:01] GerRudi commented on #316
I'm sorry, it was my mistake. :(

I forgot that Windows Notepad requires CRLF as a new line.
In case anyone else stumbles upon this issue:

**\`r\`n**
 = new line

Thanks for your response and the great work.

[2017-04-21 07:07] #316 closed, assigned to nobody

[2017-04-24 02:47] droyad opened #317 "The parameter is incorrect error when deleting junction points"
When calling `Directory.Delete(path, true)` on a directory that has junction points, a `The parameter is incorrect` error is thrown. This is due to the attempt to delete the junction point using `DeleteVolumeMountPoint (kernel32.dll)`. Junction points can be deleted using `RemoveDirectory  (kernel32.dll)` successfully

Looking at `FileSystemEntryInfo` and `Win32FindData`, Juction Points and Volume

[2017-05-22 03:11] Andreyspro opened #319 "Get-longChild items from root of share"
Hellow.
Im try get-longchilditems from networkshare \\s01-storage1\temp:
![1](https://cloud.githubusercontent.com/assets/28852205/26290964/c2fcf004-3edd-11e7-8ce6-006c436506c5.png)

This function retun me only 1 "Directory" object - input directory:
![3](https://cloud.githubusercontent.com/assets/28852205/26291013/0845c046-3ede-11e7-81ec-6a6b20e35c54.png)

However, standart funtion work fine:
![2]

[2017-05-22 03:15] Andreyspro commented on #319
Server version Windows 2012 R2.

[2017-05-22 10:38] Yomodo commented on #319
We did not create the Get-LongChildItems cmdlet.

[2017-05-22 17:07] #319 closed, assigned to nobody

[2017-05-22 18:27] raandree commented on #319
Check out Get-ChildItem2 provided via https://github.com/raandree/NTFSSecurity. This module uses AlphaFS as well.

[2017-05-23 13:55] Yomodo commented on #290
This simple test shows that AlphaFS is capable of creating a folder in the root of the drive, with a name that has a maximum of 255 characters.  `System.IO` however, fails on this.

[code]

[2017-05-23 16:35] Yomodo commented on #293
Also, it seems .NET 2.0 is used?
`CLRVersion 2.0.50727.5485`

[2017-05-23 16:36] #294 closed, assigned to nobody

[2017-05-23 16:41] Yomodo commented on #295
I think the culprit is: `win32.FileSystem.PathFormat.LongFullPath`
When you specify `win32.FileSystem.PathFormat.LongFullPath`, it is expected that the given
path is already in long path format, which is not the case.

You need to use: `win32.FileSystem.PathFormat.FullPath` here.

[2017-05-24 00:11] Yomodo opened #320 "Minor changes in comments in Win32Errors.cs to eliminate compiler warnings."

[2017-05-24 00:18] Yomodo commented on #268
#320

[2017-05-24 11:22] Yomodo commented on #300
I'm now doubting if this is a BUG, because the default AlphaFS behaviour equals `System.IO`, which is to throw a `System.ArgumentException: Illegal characters`.

[2017-05-24 12:12] Yomodo opened #321 "DirectoryInfo.CopyToMoveToCore() calls Path.GetExtendedLengthPathCore() without Transaction parameter."

[2017-05-24 16:01] daisy613 opened #322 "Search files/folders using multiple filters."
Is it possible to specify multiple search strings in the EnumerateFileSystemEntryInfos method?  Let's say I'm looking for files with several different extensions.  I am using the script written by http://powershell-guru.com/fastest-powershell-2-count-all-files-in-large-network-share/.  I am trying to come up with something that works faster and more reliably than gci -include $extensions

[2017-05-24 17:16] Yomodo commented on #322
Unfortunately this is not possible.

[2017-05-24 18:28] Yomodo opened #323 "Update header in solution files."
Year, assembly version.

[2017-05-25 04:26] HugoRoss commented on #300
But what sense makes option GetFullPathOptions.CheckAdditional in that case? It is especially made for throwing an exception in case a "*" or "?" is within the string.

[2017-05-25 08:52] Yomodo commented on #300
Correct, it is used only internally so that path verification is done, as much as possible, in the same way as `System.IO` does.

[2017-05-26 14:59] kryvoplias opened #325 "DeleteEmptySubdirectories (with recursive=true) throws System.IO.DirectoryNotFoundException"
Hi all,

I'm trying to delete all empty directories and sub-directories by using Directory.DeleteEmptySubdirectories with recursive flag.

But I'm getting exception System.IO.DirectoryNotFoundException with following message: "(3) The system cannot find the path specified: [\\?\c:\temp\test\Foo\FooBar\*]"

To reproduce, create following folders (Powershell):
[code]

Then execute:
[code]

Unhandled

[2017-05-26 16:21] Yomodo commented on #325
Confirmed.
It seems that the upcoming v2.1.3 release fixes this bug.

**Update: The fix will be in v2.2**

[2017-05-27 10:40] Yomodo opened #326 "Add parameter bool preserveDates and created overloaded Directory.Copy methods to support this."
Currently only a couple of `File.Copy` methods supports the `bool preserveDates` parameter.
Preserving dates might also be convenient when copying directories.

[2017-05-30 18:19] Yomodo commented on #286
Will leave it as-is for now. I really doubt if anyone will use the `AlternateFileName` property nowadays.

[2017-05-30 18:19] #286 closed, assigned to Yomodo

[2017-06-01 12:47] elgonzo opened #328 "Several instances of ArgumentException.ParamName not set/used correctly"
I noticed that in several places AlphaFS is throwing ArgumentExceptions with the ParamName argument/property set incorrectly.

Sometimes, AlphaFS passes the parameter value instead of the parameter name for the ParamName argument when creating an ArgumentException, which look like oversights and should be rather easy to fix, i guess.

However, there are also places (like in the [DirectoryInfo.Crea

[2017-06-01 13:23] Yomodo commented on #328
.NET itself uses the `ArgumentException` with explanatory text where the parameter name is used
most of the time.

The expectation was to see only the parameter name instead of its value?

[2017-06-01 13:24] elgonzo commented on #328
Can you show me an example where .NET uses the ParamName argument to carry anything but the *name* of the problematic argument/parameter?

Note that the argument is called "ParamName", not "ParamValue". Also look at the message composed by the ArgumentException when you set the ParamName argument -- it also speaks about "parameter name", not "parameter value"...

And finally, i let the MSDN docume

[2017-06-01 13:31] Yomodo commented on #328
This is where I looked:

http://referencesource.microsoft.com/#mscorlib/system/argumentexception.cs,109b3ef6299ef9df,references

[2017-06-01 13:34] elgonzo commented on #328
Yes, the reference source just confirms everything i said.
How/where did the reference source give you the idea that "ParamName" does not mean parameter name, but parameter value?